{% extends "base.html" %}

{% block main %}

<form id="reservation_form" action = "/reservation/" autocomplete="on" method = "POST">
      {% csrf_token %}
  <div class="panel full first">
    <div class="floatlabel-wrapper push">
      <label for="id_full_name">Full name</label>
      <input id="id_full_name" type="text" placeholder="Eg. John Smith" name="full_name">
    </div>
    <div class="floatlabel-wrapper">
      <label for="id_company">Company Name (optional)</label>
      <input id="id_company" type="text" placeholder="Eg. Quay Restaurant" name="company">
    </div>
    <div class="floatlabel-wrapper phone-wrapper">
      <label for="id_personal_phone">Phone No.</label>
      <input id="id_personal_phone" type="tel" placeholder="Eg. 02 9251 5600" name="personal_phone">
    </div>
    <div class="floatlabel-wrapper push postcode-wrapper">
      <label for="id_postcode">Postcode</label>
      <input id="id_postcode" type="number" placeholder="2000" name="postcode">
    </div>
    <div class="floatlabel-wrapper">
      <label for="id_hotel_phone">Contact No. in Sydney or hotel</label>
      <input id="id_hotel_phone" type="tel" placeholder="Eg. 02 9251 5600" name="hotel_phone">
    </div>

  </div>

  <div class="panel full dark">
    <div class="floatlabel-wrapper push">
      <label for="id_date">Date of requested reservation</label>
      <input id="id_date" type="text" placeholder="DD / MM / YYYY" name="date" class="datepicker"><span class="icon-calendar"></span>
    </div>
    <div class="radio">
      <label for="lunch_dinner">Time of day</label>
      <div class="radio-wrapper">
        <input id="lunch" type="radio" name="lunch_dinner" value="lunch">
        <label for="lunch"><span class="icon-tick"></span>Lunch</label>
        <input id="dinner" type="radio" name="lunch_dinner" value="dinner">
        <label for="dinner"><span class="icon-tick"></span>Dinner</label>
      </div>
    </div>
   <div class="floatlabel-wrapper time-select">
      <label for="id_time">Time</label>
      <select id="id_time" type="text" data-placeholder="Select" name="time" class="classic">
        <option value="12:00">12:00 PM</option>
        <option value="12:30">12:30 PM</option>
        <option value="13:00">13:00 PM</option>
        <option value="13:30">13:30 PM</option>
        <option value="14:00">14:00 PM</option>
        <option value="18:00">18:00 PM</option>
        <option value="18:30">18:30 PM</option>
        <option value="19:00">19:00 PM</option>
        <option value="19:30">19:30 PM</option>
        <option value="20:00">20:00 PM</option>
        <option value="20:30">20:30 PM</option>
        <option value="21:00">21:00 PM</option>
        <option value="21:30">21:30 PM</option>
        <option value="22:00">22:00 PM</option>
      </select>
    </div>
    <div class="floatlabel-wrapper people-select push">
      <label for="id_num_people">People (max 9)</label>
      <select id="id_num_people" type="text" data-placeholder="Select" name="num_people" class="classic">
        <option value="one">One</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
        <option value="four">Four</option>
        <option value="five">Five</option>
        <option value="six">Six</option>
        <option value="seven">Seven</option>
        <option value="eight">Eight</option>
        <option value="nine">Nine</option>
      </select>
    </div>
    <div class="floatlabel-wrapper">
      <label for="id_email_address">Email address</label>
      <input id="id_email_address" type="email" placeholder="Eg. john@email.com" name="email_address">
    </div>
  </div>
  <div class="panel full">
      <div class="floatlabel-wrapper comment-wrapper">
        <label for="id_special_requests">Special requests or comments (optional)</label>
        <input id="id_special_requests" type="text" placeholder="Eg. Dietary Requirements" name="special_requests">
      </div>
      <div class="clear">
        <input id="id_optin" type="checkbox" name="optin">
        <label for="id_optin"><span class="icon-tick"></span>Yes I wish to SUBSCRIBE TO the Quay Newsletter</label>
      </div>
  </div>

  <div class="panel full">
    <input type="submit" value="submit" name="button" class="button">
    <div class="throbber"></div>
  </div>

</form>





{% endblock %}
