.clearfix
  +clearfix()

+tablet-min
  .right
    float: right
    margin-left: -100%
  .left
    float: left
.fixed
  position: fixed !important
  top: 0 !important
  z-index: -1
.fixTop
  width: 100%

.line
  width: 50px
  height: 2px
  position: absolute
  display: none // Mobile first
  background-color: $dark
  +tablet-min
    height: 4px
  // &.bottom
  //   bottom: 2*$u
  //   margin-bottom: -4px

a
  text-decoration: none
  cursor: pointer
img
  display: block

// Container
html
  font-size: 12px
  +mobile-min
    font-size: 16px

body
  height: 100%
  min-width: 320px
  background-color: #dde5f3
table
  width: 100%
th
  height: 45px
  height: calculateRem(45px)

.container
  position: relative
  height: 100%
  max-width: 26*$u
  margin: 0 auto
  +clearfix
  &.overflow
    overflow: hidden
  +desktop-min
    .line
      display: block
  +desktop-small-max
    &>.line
      display: none
// Tweek to offset round letters (O,C)
.title
  margin-left: -1px
.letter-offset
  margin-left: -2px
  +desktop-min
    margin-left: -4px
.offset-negative
  margin-left: 2px

// Vertical rythm
.title, .quote
  +mb(1)
.main-title
  margin-left: -4px
  +mb(1)
  +mobile-min
    +mb(2)