.top-carousel
  position: fixed
  top: 0
  z-index: -1
  width: 100%
  height: 100%
  min-width: 320px
  div
    width: 100%
    height: 100%
    background-position: top center
    background-repeat: no-repeat
    background-size: 100% auto
    position: absolute
    top: 0
    left: 0
    opacity: 0
    transition: opacity ease-in 800ms
    &.active
      opacity: 1
  &.fix-top
    div
      background-size: cover
    @media only screen and (min-width: 1100px)
      width: 100%
      height: 100%
      margin-top: -120px
      position: relative
      div 
        background-position: top center
        background-attachment: fixed
        background-size: 100%



@media only screen and (min-width: 1000px)
  .top-carousel 
    div
      background-size: auto
    &.full-bg
      div
        background-size: cover

.carousel-controler,
.carousel-labels
  position: absolute
  bottom: 0
  width: 100%
  +mb(2)

.carousel-label
  display: none
  padding-left: 15px
  padding-right: 15px
  &.active
    display: block

.carousel-controler
  +inline-block-list
  +mb(1)
  cursor: pointer
  ul
    user-select: none
  li
    padding: 8px
    margin-top: -8px
    margin-bottom: -8px
    span
      position: relative
      user-select: none
      display: block
      width: 10px
      height: 10px
      border-radius: 50%
      border: 2px solid #fff
      &:after
        border-radius: 50%
        transform: scale(0)
        transform-origin: 6px 6px
        transition: .5s $easeOutElastic
        width: 12px
        height: 12px
        content: ''
        position: absolute
        display: block
        left: -1px
        top: -1px
        background-color: #fff
    &:hover,
    &.active
      span:after
        transform: scale(1.2)

  &.clear-controler
    position: relative
    li
      span
        border-color: $dark
        margin-left: 0
      &:hover,
      &.active
        span:after
          background-color: $dark
      &:first-child
        margin-left: -7px

.content-carousel
  display: none
  &.active
    display: block
