.competiton-promo.full
  background: url(../images/bg/bg-promo.jpg) no-repeat center #fff
  background-size: cover
  min-height: 11*$u
  +mobile-min
    +pf(3,2,3,2)
  .title
    line-height: 44px
    line-height: calculateRem(44px)
    +mb(1.5)
  p
    max-width: 11*$u
  .line
    position: relative
    display: block
    +mb(.5)
  .button
    +mb(1)
    margin-top: 0
  .app-link
    background-image: url(../images/app-official-tile.png)
    background-size: 100%
    background-repeat: no-repeat
    display: block
    width: 135px
    height: 40px
    +mt(.4)
  @media only screen and (min-width: 951px)
    .right
      width: 276px

    .button
      +mb(1.5)
  
  @media only screen and (max-width: 950px)
    .right, .left
      float: none
    .right
      margin-left: 0
    .button
      +mt(1)