.employment-panel
  background-image: url(../images/sides/employment.jpg)
  height: 8*$u
  .button
    margin-top: 4*$u
+mobile-min
  .employment-panel
    .button
      right: 2*$u
      bottom: 2*$u
      position: absolute