.contact
  background-color: #fff
  +clearfix
  .line
    display: block
    top: 150px
    +mobile-min
      top: 268px
    +tablet-min
      top: initial
      bottom: 2*$u
  +tablet-min
    .right
      max-width: 230px
  +tablet-max
    .left
      margin-bottom: $u
  +desktop-min
    +mb(5)

  .address
    max-width: 100%

.footer
  clear: both
  background-color: $dark
  text-align: center
  +pt(2)
  +pb(1.5)
  .icon-logo
    color: #fff
    font-size: 66px
    +pb(1)

.social
  +inline-block-list
  +mb(1)
  .icon-instagram:before
    margin-left: 1px
    margin-top: -1px
  a
    +hoverCircle(36px,#3a3b4c)
    color: #fff
    margin: 8px
    font-size: 20px
    display: block
    text-align: center
    line-height: 36px
    &.small
      font-size: 13px
      span
        margin-left: 2px
      .icon-mail
        font-size: 12px
    .icon-play
      margin-left: 2px
      font-size: 18px

  li:first-child a
    line-height: 38px

.footer-nav
  +mb(1)
  a
    color: #fff
    display: block
    padding: 15px
  +mobile-min
    +inline-block-list
    +mb(3)
    a
      position: relative
      padding: 0 30px
      &:after
        position: absolute
        content: ''
        right: -2px
        height: 13px
        top: 5px
        width: 1px
        background-color: #fff
    li:last-child a:after
      content: none

.footer-over-bg
  +mobile-min
    .contact
      +mt(2)
      
  .footer
    margin-top: 0