.latest-news-partial
  a:not(.button)
    color: #fff
  .button
    min-width: 7*$u
  p
    margin-top: $u/2

+mobile-min
  .panel.latest-news-partial
    +p(2)
    margin-top: 0
    .line
      left: 17*$u
      top: 3*$u

+tablet-min
  .latest-news-partial
    +mt(2)
    p
      margin-top: $u/2
      max-width: 52%
    .button
      position: absolute
      right: 2*$u
      bottom: 2*$u