#nav
  position: fixed
  z-index: 10
  left: 0
  top: -100px
  text-align: center
  line-height: 1.5*$u
  height: 100%
  width: 100%
  a
    height: 1.5*$u
    display: inline-block
    position: relative
    &:after
      // +transition(all .3s cubic-bezier(0.215, 0.610, 0.355, 1.000))
      transition: .5s $easeOutElastic
      transform: translate3d(0, 0, 0) // Fix weird ghost dots
      position: absolute
      z-index: 1
      content: ''
      left: 50%
      right: 50%
      height: 3px
      bottom: $u/4+3px
      background-color: $dark
    +mobile-nav-min
      height: 1.5*$u
      padding: 0 20px
    +desktop-min
      padding: 0 $u
  
  a:hover:after,
  .active a:after
    left: 0
    right: 0
    +mobile-nav-min
      left: 20px
      right: 22px
    +desktop-min
      left: $u
      right: $u + 2px

  +mobile-nav-max
    background-color: #fff
    +transition(transform .5s cubic-bezier(0.215, 0.610, 0.355, 1.000))
    transform: translate3d(0,-120%,0)
    -webkit-transform-style: preserve-3d
    top: 0 !important
    // &:after
    //   position: absolute
    //   bottom: -10%
    //   height: 20%
    //   width: 120%
    //   content: ""
    //   background-color: white
    //   border-radius: 50%
    //   left: -10%
    //   z-index: -1
    ul
      +centre()
    &.active
      transform: translate3d(0,0,0)
      // &:after
      //   height: 50%
      //   bottom: -30%


  //   margin-top: 30px
  //   margin-left: auto
  //   margin-right: auto

  +mobile-nav-min
    position: absolute
    height: 1.5*$u
    .reservation
      display: none
      float: right
      padding: 0
      a
        padding-left: 23px
        color: #fff
        background-color: $dark
    ul
      display: inline-block
      transform: translate3d(0, 0, 0) // Fix position fixed..
      margin: 0 auto
      margin-top: $u/2
      li
        float: left
    &.hide
      opacity: 0
      visibility: hidden
    &.hide-transition
      visibility: hidden
      opacity: 0
      +transition(opacity 1s cubic-bezier(0.215, 0.610, 0.355, 1.000))
    &.show
      visibility: visible
      opacity: 1

  &.fixed
    position: fixed
    top: 0 !important
    +mobile-nav-min
      ul
        background-color: #fff  
        width: calc(100% - #{2*$u})
        margin-left: $u
        margin-right: $u
        margin-top: $u
      .reservation
        display: block
    +desktop-min
      ul
        max-width: 24*$u
      .reservation
        a
          padding-left: 40px

  

+mobile-nav-max
  .nav-toggle
    background-color: #fff
    position: fixed
    transform: rotate(0deg)
    transition: .5s ease-in-out
    cursor: pointer
    border-radius: 50%
    width: 36px
    height: 36px
    top: 15px
    right: 13px
    z-index: 30
    overflow: hidden
    span
      width: 16px
      display: block
      height: 2px
      position: absolute
      left: 10px
      background-color: $dark
      opacity: 1
      transform: rotate(0deg)
      transition: 1s $easeOutElastic
      &:nth-child(1)
        top: 13px
      &:nth-child(2)
        top: 18px
      &:nth-child(3)
        top: 23px
    &.close span
      &:nth-child(1)
        top: 18px
        transform: rotate(135deg)
      &:nth-child(2)
        opacity: 0
        left: -30px
      &:nth-child(3)
        top: 18px
        transform: rotate(-135deg)