.top
  position: relative
  text-align: center
  // Full screen at the begining
  min-height: 1000px
  // transition: min-height 1s ease-in
  &.fixed-bg
    background-color: #fff
  .icon-logo
    display: block
    font-size: 50px
    color: #fff
    padding-top: $u
    +mobile-min
      font-size: 2*$u
  .main-logo .icon-logo
    font-size: 70px
    +mobile-min
      padding-top: 2*$u
      font-size: 140px
    +tablet-min
      font-size: 180px
    +desktop-min
      font-size: 230px
      @media screen and ( max-height: 801px )
        font-size: 130px