=bg($name, $path:'', $ext:'jpg')
  .#{$name}
    background-image: url(../images/#{$path}#{$name}.#{$ext})

=bgrl($name)
  .#{$name}
    background-image: url(../images/bg/bg-#{$name}-375.jpg)
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx), (min-width: 350px)
      background-image: url(../images/bg/bg-#{$name}-750.jpg)
    @media only screen and (min-width: 750px)
      background-image: url(../images/bg/bg-#{$name}-1000.jpg)
    @media only screen and (min-width: 1000px)
      background-image: url(../images/bg/bg-#{$name}-1600.jpg)

=bgr($name)
  .#{$name}
    background-image: url(../images/bg/bg-#{$name}-375.jpg)
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx), (min-width: 350px)
      background-image: url(../images/bg/bg-#{$name}-750.jpg)
    @media only screen and (min-width: 750px)
      background-image: url(../images/bg/bg-#{$name}-1000.jpg)
    @media only screen and (min-width: 1000px)
      background-image: url(../images/bg/bg-#{$name}-1200.jpg)

+bgrl('map')

+bgr('illustration-autumn')
+bgr('illustration-spring')
+bgr('illustration-summer')
+bgr('illustration-winter')


+bgr('dish-beef')
+bgr('dish-beetroot')
+bgr('dish-blackpudding')
+bgr('dish-chocethereal')
+bgr('dish-duck')
+bgr('dish-muscovado')
+bgr('dish-pigjowl')
+bgr('dish-quail')
+bgr('dish-xosea')
+bgr('illustration-autumn')
+bgr('illustration-spring')
+bgr('illustration-summer')
+bgr('illustration-winter')


+bgrl('image-about')
+bgrl('image-awards')
+bgrl('image-contact')
+bgrl('image-employment')
+bgrl('image-footer')
+bgrl('image-functions-01')
+bgrl('image-functions-02')
+bgrl('image-functions-greenroom')
+bgrl('image-functions-restaurant')
+bgrl('image-functions-uppertower')
+bgrl('image-philosophy-01')
+bgrl('image-philosophy-02')
+bgrl('image-philosophy-03')
+bgrl('image-producers-01')
+bgrl('image-producers-02')
+bgrl('image-producers-03')
+bgrl('image-producers-04')


.tofixBg
  background-repeat: no-repeat
  background-attachment: fixed
  height: 100%
  width: 100%

.touch
  .tofixBg,
  .fix-top
    background-attachment: initial !important
    // background-size: auto (8*$u) !important
    background-size: cover !important
    background-position: center !important

  .hideMobilebg
    background-image: none


.touch 
  .tofixBg
    background-size: 100% !important
    background-position: top !important
    +tablet-min
      background-size: cover !important

.map
  background-position: center top
  background-attachment: initial
  background-size: auto 600px
  +tablet-min
    padding-top: 0
    background-attachment: fixed
    background-size: cover
    background-position: center
html:not(.touch)
  .map.hideMobilebg
    background-image: url(../images/bg/bg-map-1600.jpg) !important
.panel, .team, .table, .wedding-couple, .tofixBg, .decor, .fix-top, .page-awards .media
  // , .top-carousel div
  // TODO: optimize image son then don't 
  // need to be resize all the time
  background-size: cover

.pattern-floury
  background-image: url(../images/bg/panel-our-menu.jpg)
.pattern-gray
  background-image: url(../images/patterns/pattern-gray.jpg)
.place-table
  background-image: url(../images/places/table.jpg)
.ingredients-oyster
  background-image: url(../images/ingredients/oyster.jpg)
.white
  background-color: #fff
.dark
  background-color: #282828
  color: #fff
  .line
    background-color: #fff
.transparent, .white
  .title
    color: #181821