=hoverCircle($size,$color)
  height: $size
  width: $size
  background-color: $color
  border-radius: 50%
  cursor: pointer
  position: relative
  &:before
    content: ''
    position: absolute
    margin-top: -(1+$size/2)
    margin-left: -(1+$size/2)
    z-index: 0
    top: 50%
    left: 50%
    transition: .5s $easeOutElastic
    width: $size+2
    height: $size+2
    background-color: #fff
    border-radius: 50%
    +scale(0)
  &:hover
    &:before
      +scale(1)
    [class^="icon-"]
      position: relative
      color: $color
      z-index: 3

.button
  border: none
  box-sizing: border-box
  display: block
  width: 100%
  cursor: pointer
  +mt(2)
  background-color: #fff
  text-align: center
  transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1.000)
  &:focus
    outline: none
  +mobile-min
    display: inline-block
    width: auto
    min-width: 6*$u
    padding: 0 $u
  &.active,
  &:hover
    background-color: #d0dae6 !important

.loading .button
  padding-right: 70px
  transition: all .3s ease-out

.button + .button
  +mt(1)
  +mobile-min
    display: block
    max-width: 240px
    padding: 0

.dark,.white
  .button
    background-color: #e6ecf3
