.collapse-panel
  .bg
    background-repeat: no-repeat
    background-size: 100%
    background-color: #fff
  .toggle-panel
    cursor: pointer
    position: relative
    .title
      margin-bottom: 0

      +font-size(30px, 17px)
      +p(1)
      +mobile-min
        +pf(1,2,1,2)
      +desktop-min
        +font-size(40px, 48px)
        +p(2)

  .on,.off
    position: absolute
    right: $u/2
    top: 50%
    margin-top: -5px
    color: #fff
    transition: all $easeInOutCubic .5s .5s
    position: absolute
    +mobile-min
      margin-top: -9px
      right: 2*$u
  .on
    opacity: 1
    transform: translate3d(0,0,0)
  .off
    opacity: 0
    transform: translate3d(0,-20px,0)
    transition: all $easeInOutCubic .5s
  .toggle-content
    transition: all $easeInOutCubic 1s
    max-height: 0
    overflow: hidden
    backface-visibility: hidden
  .toggle-content:not(.form-collapse)
    .panel
      +pt(1)
      +desktop-min
        +pt(2)
        +mt(1)
        +mb(3)
  .panel
    .line
      position: relative
      +mt(1)
      +mb(1)

  .active
    .toggle-content
      max-height: 2000px
    .on
      opacity: 0
      transform: translate3d(0,20px,0)
      transition: all $easeInOutCubic .5s
    .off
      opacity: 1
      transform: translate3d(0,0,0)


