// Font family
body, .radio-wrapper label, input
  font-family: lato, arial, sans-serif
  -webkit-font-smoothing: antialiased
  letter-spacing: 1px

.main-title, .title, .subtitle, .author, .button, #nav, .marker .info,
.carousel-label, .video-js, .collapse-indicators, label, .pretty-embed
  font-family: brandon-grotesque, verdana, sans-serif

// Colors
body,a, label
  color: #181821
.title, .quote, .carousel-label, .footer-nav, .legal a:hover
  color: #fff
.main-title, #nav, .collapse-indicators
  color: #0a070f // Dark bold text
.dark .author
  color: #bdc6cf // Not so white on black
.legal, .legal a
  color: #7b7c94 // Grey

// Font size
.main-title
  +font-size(60px, 60px)
  letter-spacing: 4px
  +mobile-max
    +font-size(40px, 50px)
.title
  +font-size(40px, 48px)
  letter-spacing: 2px
.address, .tel, .quote, .pretty-embed, .underline-title, .page-menus .subtitle, .page-news .subtitle, .page-reservation  .subtitle, .page-employment  .subtitle, .page-reservation  .subtitle
  +font-size(24px, 32px)
.subtitle, , .menu-price
  +font-size(20px, 28px)
input, .sod_select, .radio-wrapper label
  +font-size(21px, 30px)
.collapse-indicators
  +font-size(16px, 20px)
.button
  +font-size(15px, 2*$u)
  letter-spacing: 2px
  +mobile-max
    +font-size(20px,  2*$u)
body
  +font-size(14px, 20px)
  letter-spacing: .5px
  +mobile-max
    +font-size(18px, 26px)
#nav, .author, .carousel-label, .author, label
  +font-size(12px, 14px)
  letter-spacing: 2px
#nav
  +mobile-max
    +font-size(16px, 14px)
// Font Style
strong, th, .carousel-label, #nav, .button, .author, .underline, .marker .info,
.video-js, .collapse-indicators, label, .pretty-embed
  font-weight: 900
.address, .tel, .main-title, .title , .underline-title, .menu-price
  font-weight: 500
body, .footer-nav, .legal
  font-weight: 400
.address, .tel, .quote, .menu-price
  font-style: italic
.carousel-label, .button, .title, .main-title, label, .marker .info
  text-transform: uppercase
.news-title, .underline-title, .underline, .email
  text-decoration: underline