input
  -webkit-appearance: none
  border-radius: 0
  &:-webkit-autofill
    -webkit-box-shadow: 0 0 0px 1000px #fff inset
  &:focus
    outline:none

input[type="text"], input[type="email"], input[type="tel"], input[type="number"]
  width: 100%
form
  .panel
    &:after
      content: ""
      display: table
      clear: both
    &.dark
      background-color: #24252f
      .floatlabel-wrapper, .radio
        > label,
        input[type="text"], input[type="email"], input[type="tel"], input[type="number"]
          -webkit-font-smoothing: antialiased
          color: #fff
        input
          border-color: #fff
          &:-webkit-autofill
            -webkit-box-shadow: 0 0 0px 1000px #24252f inset
            -webkit-text-fill-color: #fff
        &.valid-field
          label
            color: #616573
      +placeholder
        color: #616573
      .sod_select
        color: #616573
        &:after,
        &.valid-field
          color: #fff

  +desktop-min
    .clear
      +mt(4)
      clear: left

  &.subscribe-form
    .floatlabel-wrapper
      float: left
      width: 100%
      margin-right: 2*$u
      +mobile-min
        width: 8*$u
      input[type="text"], input[type="email"], input[type="tel"], input[type="number"]
        width: 100%
    .button
      margin-top: 0
      margin-bottom: 0


.floatlabel-wrapper, .radio
  position: relative
  margin-bottom: $u
  > label
    transition: color 500ms $easeInOutCubic
    letter-spacing: 1px
    position: absolute
    color: $dark

.floatlabel-wrapper
  input[type="text"], input[type="email"], input[type="tel"], input[type="number"]
    background-color: transparent
    border: 0
    border-bottom: 4px solid $dark
    padding: 28px 0 13px 0
    outline: 0
    color: $dark

  &.focus
    label
      color: #bababe
  &.valid-field
    label
      color: #bababe
    &:after
      position: absolute
      right: 0
      bottom: 26px
      content: "\e605"

form
  &,
  .dark
    .floatlabel-wrapper.error:not(.valid-field)
      .sod_select,
      input[type="text"], input[type="email"], input[type="tel"], input[type="number"]
        border-bottom-color: #d32525
      > label
        color: #d32525

.focus-form
  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], label
    transition: all .5s linear
  .floatlabel-wrapper
    input[type="text"], input[type="email"], input[type="tel"], input[type="number"]
      border-bottom-color: #bababe
    label
      color: #bababe
    &.focus
      label
        color: $dark
      input
        border-bottom-color: $dark
  .panel.dark
    .floatlabel-wrapper
      input, .sod_select
        border-bottom-color: #616573

      label, .sod_placeholder
        color: #616573
      &.focus
        label
          color: white
        input
          border-bottom-color: white

+placeholder
  font-weight: 400
  -webkit-font-smoothing: antialiased
  color: #bababe

// .backgroundclip .floatlabel-wrapper.focus label
//   -webkit-text-fill-color: transparent
//   background: url(../images/dishes/roasted-masterstock-duck.jpg) repeat center
//   background: -o-linear-gradient(transparent, transparent)
//   -webkit-background-clip: text

input[type="checkbox"], input[type="radio"]
  display: none

  & + label
    cursor: pointer
    clear: both
    span
      display: inline-block
      width: 32px
      height: 32px
      margin-right: 20px
      margin-top: -5px
      vertical-align: middle
      border: 4px solid $dark
      cursor: pointer
      position: relative
      &:before
        transition: all 500ms $easeOutElastic
        position: absolute
        left: 6px
        top: 8px
        font-size: 16px
        transform: scale(0)

input[type="checkbox"]

  & + label
    cursor: pointer
    text-align: left
    padding-left: $u
    position: relative
    display: block
    span
      width: 20px
      height: 20px
      position: absolute
      left: 0
      &:before
        left: 3px
        top: 4px
        font-size: 12px
        transform: scale(0)
    +mobile-min
      padding-left: 60px
      span
        width: 32px
        height: 32px
        margin-top: -13px
        &:before
          left: 6px
          top: 8px
          font-size: 16px


input[type="checkbox"], input[type="radio"]
  &:checked + label span:before
    transform: scale(1)

.radio-wrapper
  margin-top: 30px
  margin-bottom: 19px
  input[type="radio"] + label
    font-weight: 400
    text-transform: initial
    color: #616573
    position: relative
    display: inline-block
    padding-right: 50px
    span
      position: absolute
      right: -15px
      border: none
      &:before
        color: #fff
        left: auto
      +mobile-min
        top: 3px

  input[type="radio"]:checked + label
    color: #fff

// Date selector
#id_date
  position: relative
  z-index: 1

.icon-calendar
  right: 0
  position: absolute
  font-size: 20px
  bottom: 23px
  z-index: 0

.valid-field .icon-calendar,
.valid-field .icon-down,
  display: none

.sod_label:after
  position: absolute
  right: 0
  background-color: $dark
  z-index: 3
  font-size: 12px
  +mobile-min
    font-size: 14px
    margin-top: 6px
.sod_placeholder:after
  display: none

.picker--opened .picker__holder
  box-shadow: none
  border-radius: 0
  border: 4px solid #24252f
  margin: -10px -4px
  box-sizing: content-box
  th,td
    text-align: center

.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover,
  background: $dark
  color: #fff
.picker__nav--next:hover, .picker__nav--prev:hover
  background-color: transparent

.picker__header
  margin-top: 1.5em

.picker__nav--prev
  top: -12px
  &:before
    content: "\e606"
    border-right: 0

.picker__nav--next
  top: -12px
  &:before
    content: "\e607"
    border-left: 0

.picker__day--infocus:hover,
.picker__day--outfocus:hover
  background-color: #f7f7f7
.picker__day--today:before
  border-top-color: #fff
.picker__day--highlighted
  border: none
.picker__table
  margin-bottom: 1.5em
  margin-top: 2em

// Time selector
.icon-down
  content: "\e604"
  position: absolute
  right: 0
  bottom: 28px
  font-size: 7px
.picker--time
  &,
  .picker__list,
  .picker__holder
    padding: 0
    min-width: 100%
    width: 100%

.picker--opened .picker__holder
  padding-top: 10px
  background-color: #fff
.picker--focused .picker__list-item--highlighted,
.picker__list-item--highlighted,
.picker__list-item--highlighted:hover,
.picker__list-item:hover
  background: #f7f7f7
  border: 0

.picker--focused .picker__list-item--highlighted
  font-weight: 700
  color: #444444
  &:before
    content: ""
    position: absolute
    right: 10px
    top: 50%
    -webkit-transform: translateY(-50%)
    transform: translateY(-50%)
    display: inline-block
    color: #444444
    height: 9px
    width: 10px
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K)


.picker__list-item
  border-bottom: 0
  border-top: 0
  padding: 10px 20px
  color: #444444
  font-size: 14px
