@font-face
  font-family: 'icoquay'
  src: url('../fonts/icoquay.eot?-vr4rvr')
  src: url('../fonts/icoquay.eot?#iefix-vr4rvr') format('embedded-opentype'),url('../fonts/icoquay.woff?-vr4rvr') format('woff'),url('../fonts/icoquay.ttf?-vr4rvr') format('truetype'),url('../fonts/icoquay.svg?-vr4rvr#icoquay') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"],
.sod_select:after, 
.picker__nav--next:before,
.picker__nav--prev:before,
.floatlabel-wrapper:after,
.sod_label:after
  font-family: 'icoquay'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-logo:before
  content: "\e600"

.icon-facebook:before
  content: "\e601"

.icon-instagram:before
  content: "\e602"

.icon-calendar:before
  content: "\e603"

.icon-down:before
  content: "\e604"

.icon-left:before
  content: "\e606"

.icon-right:before
  content: "\e607"

.sod_label:after,
.icon-tick:before
  content: "\e605"

.icon-google:before
  content: "\e608"

.icon-twitter:before
  content: "\e609"

.icon-mail:before
  content: "\e60a"

.icon-pdf:before
  content: "\e60b"
.icon-play:before
  content: "\e60c"