.throbber
  position: absolute
  transform: scale(0)
  left: 50%
  margin-left: 20px
  opacity: 0
  transition: opacity 300ms ease-in 300ms
  top: 22px
  +mobile-min
    top: 28px
    left: 218px


  &:after
    display: block
    position: relative
    height: 20px
    width: 20px
    animation: rotate .6s linear infinite
    border-radius: 100%
    border-top: 1px solid $dark
    border-bottom: 1px solid #fff
    border-left: 1px solid $dark
    border-right: 1px solid #fff
    content: ''
    opacity: .5
.loading .throbber
  opacity: 1
  transform: scale(1)
  

@keyframes rotate
  0%
    transform: rotateZ(-360deg)
  100%
    transform: rotateZ(0deg)
