$mobile-padding: 20px

.panel
  box-sizing: border-box
  position: relative
  background: no-repeat center
  width: 100%
  +p(2)

+mobile-max
  .panel-top
    text-align: center
  .panel
    padding-left: $mobile-padding
    padding-right: $mobile-padding

+mobile-nav-min
  .panel-top
    +pt(3)
    // .button
    //   +mb(3)

+tablet-only
  p
    max-width: 80%
  .panel
    margin: 0 auto

+tablet-min
  .panel-top .button
    +mb(3)
  .panel
    padding-right: 3*$u
    max-width: 16*$u
    &.dark
      +pf(4,4,4,2)
    &.small
      max-width: 13*$u
      +pt(2)
      padding-right: 2*$u
    &.full
      max-width: 26*$u
    &.square
      max-width: 10*$p
      height: 10*$u
    &.large
      +mt(2)
      max-width: 20*$u