.popup-bg
  display: none
  position: fixed
  z-index: 1000
  top: 0
  bottom: 0
  background-color: rgba(0,0,0,0.3)
  height: 100%
  width: 100%
  opacity: 0
  transition: all ease-in 300ms
  &.active
    opacity: 1
