
// .video-container iframe,
// .video-obj
//   position: relative
//   width: 100%
//   height: auto
//   min-height: 328px
//   display: block
//   +tablet-min
//     width: auto
//     min-width: 640px


#content 
  .pretty-embed
    cursor: pointer
    background-color: #fff
    position: relative
    &:not(.play)
      &:after
        content: 'WATCH THE VIDEO'
        position: absolute
        text-align: center
        margin-top: -6px
        background: none
        margin-left: 0
        letter-spacing: 2px
        width: 100%
        top: 50%
        color: #fff
        left: 0
      +tablet-min
        &:after
          transition: background-color .5s ease
          background: rgba(0,0,0,0)
          line-height: 370px
          margin-top: 0
          height: 100%
          bottom: 0
          top: 0
        &:hover:after
          background-color: rgba(0,0,0,0.2)
