.page-about
  .awards-panel
    background: url(../images/bg/panel-awards.jpg) no-repeat #fff
    background-size: cover
    background-position: center
  .book-carousel
    +pt(4)
    .subtitle
      margin-bottom: 10px
  .content-carousel
    .quote,
    .text-wrapper
      transition: all ease-in .3s
      transform: translate3d(0,-10px,0)
      opacity: 0

  .book-quay
    background-image: url(../images/books/quay.jpg)
    background-size: 100%
    transition: all ease-in .3s
    transform: translate3d(0,10px,0)
    margin-top: 113px
    // opacity: 0
  .book-organum
    background-image: url(../images/books/organum.jpg)
  .app-promo
    background-image: url(../images/peter-gilmore-app.jpg)
    background-repeat: no-repeat
    background-position: center bottom
    background-size: 300px
    height: 16*$u
    .title
      text-transform: initial
  .app-link
    background-image: url(../images/app-official-tile.png)
    background-size: 100%
    background-repeat: no-repeat
    display: block
    width: 135px
    height: 40px
    +mt(1.5)
  .content-carousel.anim
    .book-quay,
    .text-wrapper,
    .quote
      transform: translate3d(0,0,0)
      opacity: 1

  .small-carousel-container
    .carousel-controler
      position: absolute
      top: $u
      left: $u/2
      z-index: 3
      width: 200px
      height: 40px
  .author
    margin-bottom: 32px
    margin-top: 19px
  .team
    +mt(-1)

  @media only screen and (min-width: 680px)
    .team
      +mt(3)
    .app-promo
      background-position: right bottom
      background-size: 50%
      height: auto
      .text-wrapper
        width: 50%
    .book-quay
      margin-top: 150px

    .small-carousel-container
      .carousel-controler
        top: 3*$u
        left: 2*$u


  +tablet-min
    .book-quay
      margin-top: 0
    .book-line
      right: 2*$u
    .author
      margin-top: 19px
      margin-bottom: 0
    .panel-top
      +mb(-2)
      +pb(3)
      .line
        right: 0
        bottom: 2*$u
    // .app-promo
    //   background-size: 13*$u
    //   height: 15*$u
    //   +mb(6)
    //   .text-wrapper
    //     +pt(2)

    .app-link
      width: 188px
      height: 110px
    .latest-news-container
      +mb(3)
    .latest-news
      +pb(3)
      .line
        +mt(2)
        position: relative
    .awards-panel
      margin-right: 2*$u
      z-index: 2
      .button
        +mt(4)
    .book-carousel
      +pt(5)
      +mb(-7)

    .quote-wrapper
      clear: both
      +pb(4)
      +pt(3)
      +mb(3)
      .line
        +mt(1)
    .book-quay
      width: 10*$u
      height: 12*$u
      margin-top: 180px


  @media only screen and (max-width: 1000px)
    .container
      .left, .right
        float: none
        width: 100%
        max-width: none
        clear: both
        margin-left: 0
      .book-quay
        position: absolute
        right: 80px
        height: 241.5px
        z-index: 2
        width: 200px
        background-size: 100%
    .content-carousel strong
      max-width: 300px
      display: inline-block
    .book-carousel
      +mb(0)
    .subtitle
      max-width: 50%
      margin-top: -10px
  @media only screen and (min-width: 1001px)
    .awards-panel
      +mt(14)
    .book-quay
      +mt(9)
    .book-carousel
      min-height: 28*$u

  @media only screen and (max-width: 650px)
    .container
      .book-quay
        right: 20px
        height: 180px
        width: 150px !important
  @media only screen and (max-width: 520px)
    .container
      .book-quay
        height: 120.75px
        width: 100px !important

  @media only screen and (min-width: 521px)
    .book-carousel
      +pt(5)
    .small-carousel-container .carousel-controler
      left: 2*$u
      top: 3*$u
