.page-article
  .main-title
    margin-bottom: $u
    + .date
      text-transform: uppercase
      margin-bottom: -$u
  .article-image
    width: 16*$u
    max-width: 100%
  .line.first
    left: 2*$u
  .social
    a
      margin: $u 5px
  .two-columns
    +mt(2)
    +mb(1)
    +clearfix
    a
      display: block
      margin-bottom: 10px
  .subscribe-form
    p
      +pt(1)
      +pb(2)
      max-width: 14*$u    
    .panel
      +pt(2)
      +pb(2)

  +tablet-min
    .column
      float: left
      width: 50%
      &:nth-child(odd)
        clear: both
    .subscribe-form
      +mt(2)
      +mb(2)