.page-awards
  .container
    clear: both
  .media
    clear: both
    background-image: url(../images/sides/opera.jpg)
    background-repeat: no-repeat
    background-size: cover
  .award-container
    margin-top: -2*$u
    text-align: center
  .column
    margin-top: $u/2
  +tablet-max
    .contact
      margin-top: 0

  +mobile-min
    .award-container
      text-align: left
  +tablet-min
    .award-container
      +mb(2)
    .media
      height: 8*$u
    .panel-top
      .panel
        max-width: 18*$u
      +pb(1)
      .line
        right: 0
        bottom: 2*$u
    .media
      clear: both
      +mb(1)
    .two-columns
      +clearfix
      .column
        margin-top: 0
        float: left
        width: 45%
        &:first-child
          margin-right: 10%
  +desktop-min
    .award-container
      +mt(3)
    .media
      .button
        right: 2*$u
        position: absolute