.page-contact
  .panel-top,
  .footer
    z-index: 3
    position: relative
  .panel-top
    .contact
      padding-top: 0
      position: relative
      +mb(1)
      .line
        display: inline-block
        position: relative
        bottom: 171px

  .functions
    background-image: url(../images/sides/serpent.jpg)
    background-size: 100%
  .full
    clear: both

  .parking-rate 
    max-width: 430px
    .subtitle
      margin-top: $u

  .panel-enquiries
    a
      text-decoration: underline
    .subtitle
      font-weight: 500
    .line
      position: relative
      display: block
      +mt(2)
      +mb(1)
  
  .map
    position: relative
    .container .panel
      position: relative
      z-index: 3
  
  .marker
    position: absolute
    display: none
    z-index: 1
    top: 295px
    left: 50%
    height: 112px
    width: 4.5*$u
    background-color: #fff
    margin-top: -140px
    margin-left: -2.25*$u
    transition: all 0.1s ease-in
    transform: translate3d(0,0,0)
    &:after
      content: ""
      position: absolute
      left: 72px
      bottom: -20px
      width: 0
      height: 0
      border-left: 18px solid transparent
      border-right: 18px solid transparent
      border-top: 20px solid #fff
      transition: border-color 0.1s ease-in
    &:hover
      background-color: $dark
      transform: translate3d(0,-5px,0)
      &:after
        border-top-color: $dark
      .icon-logo
        color: $dark

    
    .icon-logo
      transition: color 0.2s ease-in
      font-size: 39px
      text-align: center
      width: 100%
      display: block
      margin-top: 35px

    .info
      text-align: center
      color: white
      position: absolute
      width: 100%
      top: 47px

  .two-columns
    .subtitle
      +mt(1)
  
  +mobile-min
    .pattern-gray
      clear: both
    .panel-top .contact .line
      bottom: 185px

  +tablet-only
    .pattern-gray
      margin-top: 0

  +desktop-small-only
    .functions
      position: relative
      z-index: 2
      padding: 0
      text-align: center
      .button
        display: inline-block
        +mt(6)

  +tablet-min
    .panel-enquiries
      +mb(5)
      +pb(2)
    .two-columns
      +clearfix
      .column
        width: 40%
        float: left
        &:first-child
          width: 60%
    .panel-top
      .contact
        .line
          display: block
          position: absolute
          bottom: 0
    .pattern-gray
      top: -3*$u
      +mb(-2)
    .mobilemap
      display: none
    .functions
      display: block
      +mt(8)
    .panel-reservation
      +mt(3)
      +pt(3)
      height: 17*$u
    .panel-enquiries
      +pt(3)
      +pb(3)

    .service
      +mt(3)
      +mb(16)
      +clearfix

    .contact 
      .line
        position: absolute
      .right
        width: 6*$u

    .parking-panel
      +clearfix
      padding-right: 2*$u
      +mb(3)
      +mt(3)

    .parking-hours
      float: left
      width: 60%
      margin-right: 5%
      max-width: 10*$u
      .title
        margin-bottom: $u/2
    .parking-rate
      float: right
      width: 35%
      .subtitle
        margin-bottom: $u/2
        margin-top: $u/2
        font-weight: 500
    .map
      padding-top: 0
      padding-bottom: 2*$u

    .marker
      display: block
      visibility: hidden
      position: fixed
      top: 50%
      &.active
        visibility: visible

  +desktop-min
    .functions
      z-index: 2
      +mt(4)
      .button
        +mt(4)
    .team
      .button
        right: 2*$u
        position: absolute

.mobilemap img
  width: 100%

.touch 
  .page-contact
    .mobilemap
      display: block
    .marker
      display: none
    
    .service,
    .panel-enquiries,
    .parking-panel
      margin-top: 0
      margin-bottom: 0
    .service
      max-width: 100%
