.page-employment
  .panel.white
    text-align: center
    .line
      +mt(1)
      +mb(1)
      display: block
      position: relative
      display: inline-block
  +mobile-min
    .panel.white
      text-align: left
      +pt(3)
      +pb(3)
      +mt(3)
      +mb(3)
      .line
        +mt(2)
        +mb(2)

    .panel-top
      +pb(1)
      .line
        right: 0
        bottom: 2*$u

