.page-functions
  .panel-top .line
    right: 2*$u
    bottom: 2*$u
  .toggle-content .right
    float: none
    padding: 0
    text-align: center
    height: 12*$u
  .content-carousel
    position: relative
    height: 100%
    // background-size: 100%
    background-position: center
  .carousel-controler
    text-align: center
    position: absolute
    bottom: 0
  .small-carousel-container
    background-color: #fff

  .greenroom-01
    background-image: url(../images/rooms/greenroom-01.jpg)
  .greenroom-02
    background-image: url(../images/rooms/greenroom-02.jpg)
  .greenroom-03
    background-image: url(../images/rooms/greenroom-03.jpg)
  .greenroom-04
    background-image: url(../images/rooms/greenroom-04.jpg)

  .uppertower-01
    background-image: url(../images/rooms/uppertower-01.jpg)
  .uppertower-02
    background-image: url(../images/rooms/uppertower-02.jpg)
  .uppertower-03
    background-image: url(../images/rooms/uppertower-03.jpg)
  
  .restaurant-01
    background-image: url(../images/rooms/restaurant-01.jpg)
  .restaurant-02
    background-image: url(../images/rooms/restaurant-02.jpg)
  .restaurant-03
    background-image: url(../images/rooms/restaurant-03.jpg)

  .bg
    transform: translate3d(0,0,0)
    backface-visibility: hidden

  .wedding .panel
    +mt(4)
    +pb(5)
    +mb(-3)

  .functions-inquiries
    +mb(3)
    .right
      margin-top: 0
    .title
      margin-bottom: 26px
    .img
      width: 20%
      height: 170px
      position: absolute
      background-size: 100%
      background-repeat: no-repeat
      right: 20px
      top: 67px
      img
        max-width: 100%
    .text-wrapper
      .left
        max-width: 6*$u
    .panel
      +clearfix

  #wedding-video
    width: 100%
    +tablet-min
      width: 640px

  .contact
    min-height: 340px

  +tablet-max
    .panel.square
      max-width: 400px
      margin-left: 2*$u
      +mb(2)
    video
      width: 100%
    .functions-inquiries .right
      margin-left: 0
      float: left
      +mt(1)

    .contact .line
      bottom: 170px

  +mobile-max
    .panel.square
      margin-left: 25px
      width: calc(100% - 50px)

  +mobile-min
    .wedding .panel
      margin-top: 0
    .functions-inquiries .img
      background-position: center
      background-size: cover
      width: 3*$u
      height: 5*$u
      right: 2*$u
      top: 2*$u 

  +tablet-min
    .toggle-content .right
      float: right
    .wedding
      +pb(3)
      .panel
        +mt(3)
    .functions-inquiries
      +pt(3)
      +mb(3)
      .panel
        height: 320px
        overflow: hidden
        &:first-child
          margin-bottom: 3*$u
      .img
        width: 4*$u
        height: 8*$u
        top: 0
        left: 0
        right: auto
    .text-wrapper .left
      padding-left: 3*$u
  +desktop-min
    .fake-video
      width: 16*$u
    .functions-inquiries .img
      width: 6*$u
    .text-wrapper .left
      padding-left: 6*$u
      .left
        max-width: 10*$u
