.page-index
  .panel-top
    overflow: hidden
    background-color: #fff
    .container
      +pb(8)
      overflow: visible
  .peter
    position: absolute
    height: 100%
    width: 100%
    background: url(../images/peter.jpg) no-repeat center bottom #fff
    background-size: 360px

  .author
    +mb(.6)
  .opera-tables
    display: none

  +mobile-min
    .peter
      background-position: right bottom
    .panel-top
      .container
        padding-bottom: 5*$u
    
    .news,.pattern-gray
      clear: both

  @media only screen and (min-width: $nav-size)
    .panel-top
      .button
        margin-bottom: 0
      .container
        padding-bottom: 0
      p
        max-width: 350px
    .peter
      background-size: 950px
      right: -400px
      width: 1500px
      
  
  @media only screen and (min-width: 920px)
    .peter
      right: -220px
      background-size: 950px

  +tablet-only
    .pattern-floury
      margin-bottom: 0
    .pattern-gray
      margin-top: 0

  +tablet-min
    
    .pattern-gray
      top: -6*$u
      +mb(-2)
      &+.line
        right: 2*$u
        margin-top: -165px
    .pattern-floury
      min-height: 24*$u
    .enquiries
      margin-right: 2*$u
      +mb(2)
      &+.line
        margin-top: 464px
        left: 2*$u
    .opera-tables
      display: block
      background: url(../images/sides/opera-tables.jpg)
      background-size: cover
      +mt(8)
  +desktop-min
    .panel-top
      +mb(-2)
      .panel
        +p(2)
        max-width: 550px
      .button
        +mb(3)
      p
        max-width: none
    .peter
      background-size: 1103px
      right: -390px
      background-position: right bottom
    .decor
      display: block
      background-position: top center
      background-attachment: fixed
      height: 6*$u
      +mt(-7)
      +mb(-2)
      +mobile-min
        height: 15*$u
    
