.page-menu
  .panel-top
    text-align: center
    padding-right: 25px
    padding-left: 25px
    +pb(2)
    p
      max-width: 18*$u
      margin-left: auto
      margin-right: auto
  #menus
    display: table
    width: calc(100% + 50px)
    margin: 0 -25px
    span
      font-size: 9px
      line-height: 9px
      display: none
    li
      display: table-cell
    .button
      min-width: 100%
      margin-bottom: 0
      margin-top: 0
      // padding: 0 15px
  .food-philosophy-panel
    +mt(2)
  .carte
    p
      max-width: 100%

    text-align: center
    max-width: 20*$u
    margin: 0 auto
    .line
      display: inline-block
      position: relative
      +mb(1)
      +mt(1)
  .carte-content
    display: none
    .subtitle
      text-transform: uppercase
      +mt(1.5)
      +mb(.5)
      font-weight: 500
    .menu-price
      text-transform: none
      font-weight: 900
    .line + .subtitle
      +mt(0)

  .carte-container
    max-height: 0
    transition: all 0.5s $easeInOutCubic
    transform: translate3d(0,0,0)
    +mt(-2)
    &.active
      max-height: 3000px
  .flowers-bg
    background: url(../images/sides/ingredient-oyster.jpg) no-repeat center
    transform: transform3d(0,0,0)
    height: 6*$u
    width: 100%
    background-size: 100%
  .large
    clear: both

  +mobile-min
    #menus
      span
        display: inline
      .button
        padding: 0 20px
  +tablet-min
    #menus
      margin: 0 auto
      width: 100%
      +pb(3)
    .panel-top
      +mb(-2)
    #menus
      max-width: 20*$u
    .carte-container
      +mt(-5)
      +mb(3)
      overflow: hidden
    .menu-price
      +mb(.5)
    .additional-info
      +mb(5)
      .line
        position: relative
        +mt(1)
        +mb(1)
    .line.last
      bottom: 4.5*$u
      right: 3*$u
    .carte
      +pf(3,3,6,3)
      +mb(-3)
      .line
        +mt(2)
        +mb(2)
      .title + .line
        +mt(1)
    .food-philosophy-panel
      min-height: 21*$u
      margin-top: 0
    .side-dish-beetroot
      +mt(8)
      background: url(../images/sides/dish-beetroot.jpg) no-repeat center
    .video-container
      position: relative
      height: 9*$u
      clear: both
      +mb(4)
      #chef-video
        +mt(-3)
        width: 16*$u
        height: 9*$u
      .line
        bottom: 3*$u
        margin-left: 3*$u
    .flowers-bg
      background-position: left center
      background-size: auto 14*$u
      padding-left: 10*$u
      height: 14*$u
      width: 10*$u
      max-width: 100/14*10%
      position: absolute
      left: 3*$u
      z-index: 1
    .small
      min-height: 14*$u
      position: relative
      z-index: 2
      +mb(7)
  