.page-news
  .panel-top
    .panel
      max-width: 22*$u
    .subtitle
      max-width: 6*$u
      margin-left: auto
      margin-right: auto
    p
      max-width: 12*$u
  .date
    +mt(0.2)
    +mb(1)
  img
    width: 100%
  .column
    display: block

  .subscribe-form
    .panel
      padding-top: 0

  .subtitle
    +pb(.5)

  +mobile-min
    .panel-top
      .subtitle
        max-width: none
        margin-left: 0
        margin-right: 0
  +tablet-min
    .two-columns
      +mt(3)
      .column
        float: left
        width: 100%/26*12
        margin-left: 100%/52*1
        margin-right: 100%/52*1
        .panel
          margin-bottom: 2*$u
          height: 8*$u
          overflow: hidden
          padding-right: 2*$u
          padding: 100%/26*2
    .contact
      +mt(3)
  +desktop-min
    .two-columns
      .column
        width: 100%/26*12
        margin-right: 0
        margin-left: 0
        &:nth-child(odd)
          margin-right: 100%/26*2
        .panel
          height: 15*$u
          padding: 2*$u
          overflow: hidden
    
// 26-2/2 = 12