.page-producers
  .contact
    +mt(6)
  img
    display: none
  +tablet-max
    .tofixBg
      background-image: none
    img
      width: 100%
      display: block
  +mobile-min
  +tablet-min
    .tofixBg
      +pt(8)
    .panel
      clear: both
      &.right
        +mt(3)
        +mb(7)
        .line
          bottom: -3*$u
          right: 0
          background-color: #fff
      &.left
        +mt(7)
        +mb(3)
        .line
          top: -4*$u
          left: 0
          background-color: #fff
      .line
        display: block
    .tofixBg
      +pt(0)
    .container
      clear: both
    .contact
      +mt(6)