.page-team
  .team
    height: 328px
    max-width: 100%
    width: 18*$u
    background-position: center
    +mb(3)

  .collapse-panel
    background-color: #fff
    
  .panel-top
    .line
      right: 2*$u
      bottom: 3*$u
  .big-image
    clear: both
    max-width: calc(100% - 40px)
    margin-left: 20px
    + .panel
      +pt(1)
    
  .active
    .toggle-content
      padding-bottom: 60px
  .title
    margin-bottom: 0
  .subtitle
    +mb(1)
  .collapse-panel
    background-color: #fff
    .on,.off
      cursor: pointer
      color: $dark
      position: initial
  .collapse-indicators
    position: relative
  
    .off
      transform: translate3d(0, -$u, 0)
  .contact
    +mt(2)
  
  +mobile-min
    .big-image
      margin-left: 2*$u
      + .panel
        min-height: 10*$u
        padding-right: 70px
        +pt(2)
    .title
      max-width: 50%
    .panel
      padding-right: 2*$u

  +tablet-min
    .big-image
      max-width: 400px
      position: relative
      z-index: 2
      width: auto
    p
      max-width: 500px
      

  +desktop-min
    .collapse-panel
      background-color: transparent
    .collapse-indicators
      margin-top: $u
    .title
      max-width: 100%
    .big-image
      right: 2*$u
      position: relative
      +mt(2)
      + .panel
        +mt(2)
    .collapse-indicators
      position: absolute
      bottom: 1.5*$u
      left: 2*$u
    .active
      .toggle-content
        padding-bottom: 3*$u

  +desktop-small-max
    .right
      margin-left: 0
      max-width: 100%


