.page-philosophy
  .panel-top
    +pb(1)
  +tablet-max
    .tofixBg
      background-image: none
      .panel:not(.full)
        +mt(8)
  .fake-video
    width: 100%
    height: 360px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative
  #video-philosophy
    background-image: url(../images/philosophy.jpg)
  .video-philosophy-intensity
    background-image: url(../images/bg/video-philosophy-intensity.jpg)
  .video-philosophy-intro
    background-image: url(../images/bg/video-philosophy-intro.jpg)
  .video-philosophy-nature
    background-image: url(../images/bg/video-philosophy-nature.jpg)
  .video-philosophy-purity
    background-image: url(../images/bg/video-philosophy-purity.jpg)
  .video-philosophy-texture
    background-image: url(../images/bg/video-philosophy-texture.jpg)
  +tablet-min
    .panel-top .line
      right: 0
      bottom: 2*$u
    .between-line
      clear: both
      position: relative
      top: -3*$u
      background-color: #fff
    .tofixBg
      .panel:not(.full)
        +mt(3)
        +mb(-2)
        +pb(3)
      .video-container
        clear: both
        +mb(3)
  +tablet-min
    .fake-video,
    #video-philosophy
      width: 640px
      height: 360px


