.page-reservation
  .panel-top
    p
      max-width: 18*$u
  form 
    .panel
      &.first
        padding-top: 0
        padding-bottom: $u
      &:last-child
        padding-top: 0
      &.dark
        +pt(2)
        +pb(1)
      .button
        margin-top: 0

  .dresscode
    +mt(3)
    +mb(3)
    .line
      position: relative
      +mt(2)
      +mb(2)
    .two-columns
      +clearfix
      .left
        +mt(2)
      .left:first-child
        width: 10*$u
        margin-right: 3*$u
      .left:last-child
        width: 8*$u

  .floatlabel-wrapper
    input[type="text"]
      width: 100%
    &.time-select
      width: 100%

  .radio 
    text-align: left
    > label
      position: relative

  .collapsible > .panel
    padding-top: 0
    padding-bottom: 2*$u

  +tablet-min
    .dresscode .two-columns .left
      margin-top: 0
    .panel.full
      padding-right: 80px
      padding-right: 5rem
    .radio
      float: left
      > label
        position: absolute
    .floatlabel-wrapper
      height: 78px
      float: left
      width: 40%
      margin-right: 10%
      &.time-select
        width: 40%
      &.comment-wrapper
        width: 90%

  +desktop-min
    .floatlabel-wrapper
      float: left
      width: 8*$u
      input[type="text"]
        width: 100%
      &.phone-wrapper
        width: 5*$u
        margin-right: $u

      &.time-select
        width: 3*$u
        margin-right: 2*$u
      &.people-select
        &,
        .sod_select
          width: 3*$u
      &.postcode-wrapper
        width: 3*$u

    .radio-wrapper
      width: 8*$u
    .push
      margin-right: 2*$u

    #comments
      width: 18*$u
    .picker--time
      &,
      .picker__list,
      .picker__holder
        min-width: 120px
        width: 120px

    .form-collapse .button
      margin-bottom: 0

    .inline-button
      float: left
      margin-right: $u

    .collapsible > .panel .button
      margin-top: 0

    .collapsible > .panel
      padding-bottom: 0

  @media only screen and (min-width: $mobile-size) and (max-width: $desktop-size-max)
    .collapsible .button
      width: 100%
      margin: 0 0 2*$u 0

  +mobile-max
    .collapsible
      margin-top: -40px

