.page-reviews
  .reviews
    // background: url(../images/media-low.jpg) no-repeat center
    background-size: cover
    background-attachment: fixed
  .quote
    color: $dark
    margin-bottom: $u/2
  .panel
    clear: both
  .large
    +p(1)

  .icon-pdf
    float: left
  .reviews
    .editor
      margin-bottom: $u
    .icon-pdf
      margin-right: 5px
      font-size: 16px
      display: inline-block
      margin-top: 4px

  .media
    p
      margin-bottom: $u

  +tablet-min
    .media
      +clearfix
      .left
        p
          max-width: 300px
          position: absolute
          bottom: $u
    .latest-news-partial
      +mt(2)
  +desktop-min
    .large
      +p(2)