section.container
  .panel.full.dark.competiton-promo
    .left
      .title
        | WIN A MASTERCLASS
        br
        | WITH PETER GILMORE
      .line
      p
        | To celebrate the launch of Peter Gilmore’s app for iPad, we’re giving away 4 double-passes to a masterclass with Peter Gilmore.
    .right
      a.button(href="http://masterclass.petergilmore.com.au" target="_blank") ENTER NOW
      p Get the Peter Gilmore App for iPad
      a.app-link(href="http://app.petergilmore.com.au/?at=1l3vrS7&ct=Quay" target="_blank")