section.container
  .panel.full.contact
    .left
      p.address
        | {{ contact.address_line_1 }}
        br
        | {{ contact.address_line_2 }}
        br
        | {{ contact.address_line_3 }}

    .right
      a.tel(href="tel:+{{ contact.tel }}") {{ contact.tel }}
      br
      br
      br
      if page != "functions"
        strong Lunch service 
        p {{ openingHours.lunch_service }}
        br
        strong Dinner service
        p {{ openingHours.dinner_service }}
    .line