.footer
  .icon-logo

  ul.footer-nav
    li
      a(href="/reservation") Reservations
    li
      a(href="functions.html") Functions
    li
      a(href="contact.html") Contact
    li
      a(href="reviews-media.html") Reviews & Media
        
  ul.social
    li
      a(href="http://instagram.com/quayrestaurant" target="_blank")
        span.icon-instagram
    li
      a(href="http://www.youtube.com/user/QuaySydney" target="_blank")
        span.icon-play


  .legal
    | © Quay Restaurant.
    br
    | Site by 
    a(href="http://www.pollen.com.au/" target="_blank") Pollen. 
    | Photography by 
    a(href="http://www.brettstevensphotography.com/" target="_blank") Brett Stevens.