section.panel.dark.full.left.latest-news-partial
  h2.title LATEST NEWS

  a(href="#")
    .underline Overseas Passenger Terminal construction
    .date Sept 19, 2014
    p During the overseas passenger terminal upgrade Quay will have modified opening hours. We will be closed for lunch Monday to Thursday and open Friday to Sunday lunch from 12pm - 2pm.

  a.button(href="news-events.html")
    | NEWS + EVENTS

  .line