block vars

doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!
html(ng-app="pollenApp").no-js
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href="/")
    title Quay Restaurant
    //- meta(name="description", content="#{description}")
    meta(name="description", content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no")
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" )
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" )
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" )
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" )
    link(rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" )
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" )
    link(rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" )
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" )
    link(rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" )
    link(rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" )
    link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" )
    link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" )
    link(rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" )

    meta(name="google-site-verification", content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc")
    meta(name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink")

    meta(property="og:title", content="#{title}") 
    meta(property="og:type", content="place")
    meta(property="og:description", content="#{description}")
    meta(property="og:site_name", content="Quay restaurant")
    meta(property="article:author", content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410")
    meta(property="article:publisher", content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410")
    meta(property="place:location:latitude"  content="-33.858018")
    meta(property="place:location:longitude" content="151.210091" ) 

    meta(property="og:url", content="http://www.quay.com.au")
    meta(name="twitter:image:src", content="http://www.quay.com.au/images/twitter.jpg")
    meta(property="og:image", content="http://www.quay.com.au/images/facebook.jpg")

    // build:css({.tmp,app}) /styles/main.css
    link(rel="stylesheet" href="/styles/main.css")
    // endbuild

    script(type="text/javascript", src="//use.typekit.net/bmo5vxg.js")
    script.
      try{Typekit.load();}catch(e){}

  body(class!="page-"+page)

    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
     
    include nav

    #content
      block content
     
      include footer

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')

    noscript
      div(style='display:inline;')
        img(height='1', width='1', style='border-style:none;', alt='', src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&guid=ON&script=0')


    // build:js(app) /scripts/vendor.js
    
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/fastclick/lib/fastclick.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/pickadate/lib/picker.js')
    script(src='/bower_components/pickadate/lib/picker.date.js')
    script(src='/bower_components/fitvids/jquery.fitvids.js')

    // endbuild


    // build:js({.tmp,app}) /scripts/scripts.js
    script(src='/scripts/raf.js')
    script(src='/scripts/router.js')
    script(src='/scripts/prettyembed.js')
    script(src='/scripts/popup.js')
    script(src='/scripts/carousel.js')
    script(src='/scripts/menu.js')
    script(src='/scripts/nav.js')
    script(src='/scripts/collapse.js')
    script(src='/scripts/map.js')
    script(src='/scripts/main.js')
    script(src='/scripts/reservation.js')
    script(src='/scripts/selectordie.js')
    // endbuild