.carte-content(class='{{lunch}}')
  h2.title
    | {{lunch}} MENU
  .line

  {% for course in lunch.courses.all %}
  .subtitle {{course.course_number}}
  p
    {% for dish in course.dishes.all %}
    {% if forloop.first == False %}
    br
    br
    {% endif %}
    {{dish.description|safe}}
    {% endfor %}
  {% endfor %}
  .line

  .menu-price 
    {{lunch.prices|safe}}