.carte-content(class='{{dinner}}')
  h2.title
    | {{dinner}} MENU
  .line

  {% for course in dinner.courses.all %}
  .subtitle {{course.course_number}}
  p
    {% for dish in course.dishes.all %}
    {% if forloop.first == False %}
    br
    br
    {% endif %}

    {{dish.description|safe}}
    {% endfor %}
  {% endfor %}
  .line

  .menu-price
    {{dinner.prices|safe}}
