.carte-content(class='{{tasting}}')
  h2.title
    | {{tasting}} MENU
  .line

  {% for course in tasting.courses.all %}
  p
    {% for dish in course.dishes.all %}
    {% if forloop.first == False %}
    br
    br
    {% endif %}
    {{dish.description|safe}}
    {% endfor %}
    {% endfor %}
  .line

  .menu-price 
    {{tasting.prices|safe}}
  {{tasting.additional_info|safe}}
