.nav-toggle.hide-desktop
  span
  span
  span

#nav
  ul
    li(class= page==="index"?"active":"" )
      a(href="/") HOME
    li(class= page==="menu"?"active":"" )
      a(href="menu") MENU
    li(class= page==="about"?"active":"" )
      a(href="about") ABOUT
    li(class= page==="functions"?"active":"" )
      a(href="functions") FUNCTIONS
    li(class= page==="contact"?"active":"" )
      a(href="contact") CONTACT
    li(class= page==="reservation"?"active":"" ).reservation
      a(href="/reservation") RESERVATIONS