mixin carouselContent(desc, key)
  p.carousel-label(class!=key===0 ? ' active':'')=desc

mixin carouselLabels(elements)
  .carousel-labels
    for element, key in elements
      case element
        when 'lower-tower'
          +carouselContent('LOWER TOWER', key)
        when 'oysters'
          +carouselContent('ANGASI Oysters', key)
        when 'serpent'
          +carouselContent('GREEN ROOM', key)

        when 'dish-beef'
          +carouselContent('beef', key)
        when 'dish-beetroot'
          +carouselContent('beetroot', key)
        when 'dish-blackpudding'
          +carouselContent('blackpudding', key)
        when 'dish-chocethereal'
          +carouselContent('chocethereal', key)
        when 'dish-duck'
          +carouselContent('Roasted masterstock duck, persimmon, black rice, kailan blossoms', key)
        when 'dish-muscovado'
          +carouselContent('muscovado', key)
        when 'dish-pigjowl'
          +carouselContent('pigjowl', key)
        when 'dish-quail'
          +carouselContent('quail', key)
        when 'dish-xosea'
          +carouselContent('Xo sea', key)

mixin carousel(elements, fixStatic)
  - var className = ''
  if fixStatic
    - className = className + ' fix-top'

  .top
    if(page==="index")
      .main-logo
        .icon-logo
    else
      a(href="/").icon-logo
    
    .top-carousel(class=className)
      {% for image in #{elements} %}
      div(class='{{image}} {% if forloop.first %}active{% endif %}')
      {% endfor %}

    {% if #{elements}|length > 1 %}
    ul.carousel-controler
      {% for image in #{elements} %}
      li(class='{% if forloop.first %}active{% endif %}')
        span
      {% endfor %}
    {% endif %}

mixin top(image, fixStatic)
  - var className = 'full-bg'
  if fixStatic
    - className = className + ' fix-top'
  - var imageName = 'active '+image
  .top
    a(href="/").icon-logo

    .top-carousel(class=className)
      div(class=imageName)
      
    