{% extends "admin/base.html" %}
{% load admin_static %}

{% block branding %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" media="all">
<style type="text/css">
  .icon-logo
  {
    font-size: 26px;
    margin-top: 7px;
  }
  .icon-calendar{
    position: initial !important;
  }
  .icon-calendar:before{
    display: none;
  }
  body{
    background-color: #edeff1;
  }
  #footer{
    padding: 0;
    text-shadow: none;
    color: #fff;
  }
  #footer a{
    color: #fff;
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="number"] , input[type="file"]{
    width: 100%;
    box-sizing: border-box;
    min-height: 35px;
    margin-bottom: 10px;
  }
  input[type="file"]{
    font-size: 13px;
    line-height: 10px;
  }
  .form-horizontal .control-group .control-label label {
    line-height: 24px;
  }
  option {
    min-height: 20px;
  }
  select{
    height: 36px;
  }
  button{
    font-family: brandon-grotesque;
    text-transform: uppercase;
    border-radius: none;
    line-height: 80px;
    letter-spacing: 2px;
    height: 80px;
    font-size: 15px;
    background-color: #e6ecf3;
  }
  .inner-two-columns .inner-right-column.fixed{
    z-index: 8;
  }
  td.field-image_thumb img {
    margin-bottom: 25px;
  }
  .btn,
  .left-nav>ul>li.active>a,
  .btn-info {
      color: #000;
      text-shadow: 0;
      background: none;
      background-color: #e6ecf3;
      border-color: transparent;
      border-radius: 0px;
      box-shadow: none;
  }
  .btn-success,
  .left-nav>ul>li.active>a,
  .btn-info{
    background-color: #373b3d;
    color: #fff;
  }
  .left-nav>ul>li>a {
    padding: 12px 10px 12px 13px;
  }
  .left-nav>ul>li.active>a:after{
    display: none;
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="file"], select, .redactor_box{
    border: none;
    margin-bottom: 0;
  }
  .form-horizontal fieldset,
  .box, .well{
    box-shadow: none;
  }
  .form-horizontal .control-group .control-label{
    min-width: 175px;
  }
  .table.table-condensed tbody th, .table.table-condensed tbody td {
    font-weight: normal;
    padding: 30px 10px 0px 10px;
  }
  .left-nav>ul>li ul li a {
    padding: 10px 0 10px 27px;
  }
  .table-bordered {
    border: none;
    border-radius: 0;
  }
  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: 23px;
    height: 28px;
    vertical-align: middle;
    -webkit-appearance: checkbox;
  }
  img {
    display: inline-block;
  }
  .datetimeshortcuts a:last-child {
    margin-left: 0;
    margin-right: 10px;
    vertical-align: -webkit-baseline-middle;
  }
  b{
    font-weight: bold;
  }
</style>
<div class="icon-logo"></div>
{% endblock %}

{# Additional <head> content here, some extra meta tags or favicon #}
{#{% block extrahead %}#}
{#{% endblock %}#}


{# Additional CSS includes #}
{#{% block extrastyle %}#}
{#  <link rel="stylesheet" type="text/css" href="{% static 'css/my_project.css' %}" media="all">#}
{#{% endblock %}#}


{# Additional JS files in footer, right before </body> #}
{#{% block extrajs %}#}
{#  <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script>#}
{#{% endblock %}#}


{# Footer links (left side) #}
{% block footer_links %}

{% endblock %}

{# Additional header content like notifications or language switcher #}
{#{% block header_content %}#}
{#    {{ block.super }}#}
{#    <div class="header-content">#}
{#        <!-- First icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-home"></i><br>#}
{#            <i class="icon-cog"></i>#}
{#        </div>#}
{#        <div class="header-column" style="margin-right: 20px">#}
{#            <a href="/" class="grey">Front-end</a><br>#}
{#            <a href="" class="grey">One more link</a>#}
{#        </div>#}
{#        <!-- Second icon column -->#}
{#        <div class="header-column icon">#}
{#            <i class="icon-comment"></i>#}
{#        </div>#}
{#        <div class="header-column">#}
{#            <a href="" class="grey">5 new messages</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{# Footer branding name (center) #}
{% block footer_branding %}
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
Copyright &copy; 2014 Quay<br>Developed by <a href="http://pollen.com.au" target="_blank">Pollen</a>
{% endblock %}