=centre($axis: "both")
  position: absolute
  @if $axis == "y"
    top: 50%
    transform: translateY(-50%)
  @if $axis == "x"
    left: 50%
    transform: translateX(-50%)
  @if $axis == "both"
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.center
  +centre