=font-size($size, $line-height: false)
  font-size: $size
  font-size: calculateRem($size)
  @if $line-height
    line-height: $line-height
    line-height: calculateRem($line-height)

=letter-spacing($letterspacing)
  letter-spacing: $letterspacing/1000