@function calculateRem($size)
  $remSize: $size / 16px
  @return $remSize * 1rem

// Temp due to prob with gulp sass breakpoint
=breakpoint($max-width)
  @media ($max-width)
    @content

=mobile-min
  @media only screen and (min-width: $mobile-size)
    @content
=mobile-max
  @media only screen and (max-width: $mobile-size-max)
    @content
=mobile-nav-min
  @media only screen and (min-width: $nav-size)
    @content
=mobile-nav-max
  @media only screen and (max-width: $nav-size-max)
    @content
=tablet-min
  @media only screen and (min-width: $tablet-size)
    @content
=tablet-max
  @media only screen and (max-width: $tablet-size-max)
    @content
=tablet-only
  @media only screen and (min-width: $mobile-size) and (max-width: $tablet-size-max)
    @content

=desktop-min
  @media only screen and (min-width: $desktop-size)
    @content
=desktop-small-max
  @media only screen and (max-width: $desktop-size-max)
    @content
=desktop-small-only
  @media only screen and (min-width: $tablet-size) and (max-width: $desktop-size-max)
    @content

+desktop-min
  .hide-desktop
    display: none

+mobile-max
  .hide-mobile
    display: none

=m($margin)
  $margin: $margin*$u
  margin: $margin
  margin: calculateRem($margin)

=mf($margin-top,$margin-right,$margin-bottom,$margin-left)
  $margin-top: $margin-top*$u
  $margin-right: $margin-right*$u
  $margin-bottom: $margin-bottom*$u
  $margin-left: $margin-left*$u
  margin: $margin-top $margin-right $margin-bottom $margin-left
  margin: calculateRem($margin-top) calculateRem($margin-right) calculateRem($margin-bottom) calculateRem($margin-left)

=mt($margin-top)
  $margin-top: $margin-top*$u
  margin-top: $margin-top
  margin-top: calculateRem($margin-top)

=mb($margin-bottom)
  $margin-bottom: $margin-bottom*$u
  margin-bottom: $margin-bottom
  margin-bottom: calculateRem($margin-bottom)

=p($padding)
  $padding: $padding*$u
  padding: $padding
  padding: calculateRem($padding)
=pf($padding-top,$padding-right,$padding-bottom,$padding-left)
  $padding-top: $padding-top*$u
  $padding-right: $padding-right*$u
  $padding-bottom: $padding-bottom*$u
  $padding-left: $padding-left*$u
  padding: $padding-top $padding-right $padding-bottom $padding-left
  padding: calculateRem($padding-top) calculateRem($padding-right) calculateRem($padding-bottom) calculateRem($padding-left)

=pt($padding-top)
  $padding-top: $padding-top*$u
  padding-top: $padding-top
  padding-top: calculateRem($padding-top)

=pb($padding-bottom)
  $padding-bottom: $padding-bottom*$u
  padding-bottom: $padding-bottom
  padding-bottom: calculateRem($padding-bottom)