<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html ng-app="pollenApp" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Quay Restaurant</title>
    <meta name="description" content="Quay Restaurant is Australia's most awarded restaurant, and one of two Australian restaurants on the prestigious S. Pellegrino World's Top 50 List. Owned and operated by the Fink Group, the restaurant offers outstanding modern cuisine by award winning chef Peter Gilmore, and is situated in the stunning dress circle of Sydney Harbour.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui ,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="static/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="static/favicon-128.png" sizes="128x128">
    <meta name="google-site-verification" content="tfMV1epfpTJQ7IBfO2gNoU5-6G4IV9SB-BhD4b_mHjc">
    <meta name="keywords" content="Quay Restaurant, Fink Group, Chef Peter Gilmore, S.Pellegrino World's Top 50, Nature Based Cuisine, Functions, Weddings, Corporate Events, John Fink, Leon Fink">
    <meta property="og:title" content="Quay restaurant">
    <meta property="og:type" content="place">
    <meta property="og:description" content="At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion.">
    <meta property="og:site_name" content="Quay restaurant">
    <meta property="article:author" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="article:publisher" content="https://www.facebook.com/pages/Quay-Restaurant/114127581932410">
    <meta property="place:location:latitude" content="-33.858018">
    <meta property="place:location:longitude" content="151.210091">
    <meta property="og:url" content="http://www.quay.com.au">
    <meta name="twitter:image:src" content="http://www.quay.com.au/static/images/twitter.jpg">
    <meta property="og:image" content="http://www.quay.com.au/static/images/facebook.jpg">
    <!-- build:css({.tmp,app}) /styles/main.css-->
    <link rel="stylesheet" href="/static/styles/main.css">
    <!-- endbuild-->
    <script type="text/javascript" src="//use.typekit.net/bmo5vxg.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      
    </script>
  </head>
  <body class="page-about">
    <!--[if lt IE 9]>
    <style>body{height: 880px !important;}#nav,#content{display:none;}*{margin: 0;}img{width: 100%;}</style>
    <a href="http://browsehappy.com/" style="display:block; text-align:center;" target="_blank"><img style="border: 0;" src="/images/ie8.jpg" /></a>
    <![endif]-->
    <div class="nav-toggle hide-desktop"><span></span><span></span><span></span></div>
    <div id="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="menu">MENU</a></li>
        <li class="active"><a href="about">ABOUT</a></li>
        <li><a href="functions">FUNCTIONS</a></li>
        <li><a href="contact">CONTACT</a></li>
        <li class="reservation"><a href="/reservation">RESERVATIONS</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="top"><a href="/" class="icon-logo"></a>
        <div class="top-carousel full-bg">
          <div class="active  {{ view.background.cssClass }} "></div>
        </div>
      </div>
      <section class="panel-top white">
        <div class="container">
          <div class="panel">
            <h1 class="main-title">{{ view.headline }}</h1>
            <p>{{ view.intro_copy }}</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <section class="container latest-news-container">
        <div class="panel square right awards-panel"><a href="awards.html" class="button">OUR AWARDS</a></div>
        <div class="panel dark left latest-news">
          <div class="text-wrapper">
            <h2 class="title">LATEST NEWS</h2>
            <p class="news-title">{{ view.news_article.title }}</p>
            <time>{{ view.news_article.created_at |date:"N d, Y" }}</time><br><br>
            <div>{{ view.news_article.description | safe }}</div>
          </div>
          <div class="line"></div><a href="news-events.html" class="button">NEWS + EVENTS</a><a href="reviews-media.html" class="button">REVIEWS + MEDIA</a>
        </div>
      </section>
      <section class="container small-carousel-container">
        <div class="line book-line"></div>
        <ul class="carousel-controler inside-panel clear-controler">{% for book in view.books.all %}
          <li class="{% if forloop.first %}active{% endif%}"><span></span></li>{% endfor %}
        </ul>{% for book in view.books.all %}
        <div class="content-carousel {% if forloop.first %}active anim{% endif%}">
          <div class="right book-quay {{ book.book_image }}"></div>
          <div class="panel white left book-carousel">
            <div class="text-wrapper">
              <h2 class="title">{{ book.title }}</h2>
              <h3 class="subtitle">{{ book.sub_title_line_1 }}
                <div class="hide-desktop"></div>{{ book.sub_title_line_2 }}
              </h3>
              <div class="author">{{ book.author }}</div><br>
              <p><strong>{{ book.sub_author }}</strong>{{ book.description|safe }}</p><a href="{{ book.link }}" target="_blank" class="button">BUY THE BOOK</a>
            </div>
          </div>
          <div class="panel dark right quote-wrapper">
            <div class="text-wrapper">
              <p class="quote">{{ book.quote }}</p>
              <div class="author">{{ book.quote_author }}</div>
              <div class="line"></div>
            </div>
          </div>
        </div>{% endfor %}
      </section>
      <section class="container">
        <div class="panel full white app-promo">
          <div class="text-wrapper">
            <div class="title">PETER GILMORE<br>APP FOR iPAD</div>
            <p>Experience a rich interactive journey into the cuisine and philosophy of Peter Gilmore, executive chef of internationally acclaimed Sydney restaurant Quay.</p><a href="http://app.petergilmore.com.au/?at=1l3vrS7&amp;ct=Quay" target="_blank" class="app-link"></a>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="panel full team"><a href="our-team.html" class="button">MEET THE TEAM</a></div>
      </section>
      <section class="container">
        <div class="panel full contact">
          <div class="left">
            <p class="address">{{ contact.address_line_1 }}<br>{{ contact.address_line_2 }}<br>{{ contact.address_line_3 }}</p>
          </div>
          <div class="right"><a href="tel:+{{ contact.tel }}" class="tel">{{ contact.tel }}</a><br><br><br><strong>Lunch service </strong>
            <p>{{ openingHours.lunch_service }}</p><br><strong>Dinner service</strong>
            <p>{{ openingHours.dinner_service }}</p>
          </div>
          <div class="line"></div>
        </div>
      </section>
      <div class="footer">
        <div class="icon-logo"></div>
        <ul class="footer-nav">
          <li><a href="/reservation">Reservations</a></li>
          <li><a href="functions.html">Functions</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="reviews-media.html">Reviews & Media</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://instagram.com/quayrestaurant" target="_blank"><span class="icon-instagram"></span></a></li>
          <li><a href="http://www.youtube.com/user/QuaySydney" target="_blank"><span class="icon-play"></span></a></li>
        </ul>
        <div class="legal">© Quay Restaurant.<br>Site by <a href="http://www.pollen.com.au/" target="_blank">Pollen. </a>Photography by <a href="http://www.brettstevensphotography.com/" target="_blank">Brett Stevens.</a></div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-6526479-13', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      
      // Google Code for Remarketing Tag
      /* <![CDATA[ */
      var google_conversion_id = 965355358;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965355358/?value=0&amp;guid=ON&amp;script=0"></div>
    </noscript>
    <script src="static/scripts/scripts.js"></script>
  </body>
</html>