block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "about"

extends partials/layout
include partials/top

block content
  +top([' {{ view.background.cssClass }} '])

  section.panel-top.white
    .container
      .panel
        h1.main-title
          | {{ view.headline }}
        p
          | {{ view.intro_copy }}

      .line

  section.container.latest-news-container
    .panel.square.right.awards-panel
      a.button(href="awards.html")
        | OUR AWARDS
    .panel.dark.left.latest-news
      .text-wrapper
        h2.title
          | LATEST NEWS
        p.news-title
          | {{ view.news_article.title }}
        time {{ view.news_article.created_at |date:"N d, Y" }}
        br
        br
        div {{ view.news_article.description | safe }}

      .line

      a.button(href="news-events.html")
        | NEWS + EVENTS
      a.button(href="reviews-media.html")
        | REVIEWS + MEDIA

  section.container.small-carousel-container
    .line.book-line

    ul.carousel-controler.inside-panel.clear-controler
      {% for book in view.books.all %}
      li(class="{% if forloop.first %}active{% endif%}")
        span
      {% endfor %}
    {% for book in view.books.all %}
    .content-carousel(class="{% if forloop.first %}active anim{% endif%}")
      .right.book-quay(class="{{ book.book_image }}")

      .panel.white.left.book-carousel
        .text-wrapper
          h2.title
            | {{ book.title }}
          h3.subtitle
            | {{ book.sub_title_line_1 }}
            .hide-desktop
            | {{ book.sub_title_line_2 }}
          .author
            | {{ book.author }}
          br
          p
            strong {{ book.sub_author }}
            {{ book.description|safe }}
          a.button(href="{{ book.link }}" target="_blank")
            | BUY THE BOOK
      .panel.dark.right.quote-wrapper
        .text-wrapper
          p.quote
            | {{ book.quote }}
          .author
            | {{ book.quote_author }}
          .line
    {% endfor %}
  section.container
    .panel.full.white.app-promo
      .text-wrapper
        .title
          | PETER GILMORE
          br
          | APP FOR iPAD
        p
          | Experience a rich interactive journey into the cuisine and philosophy of Peter Gilmore, executive chef of internationally acclaimed Sydney restaurant Quay.
        a.app-link(href="http://app.petergilmore.com.au/?at=1l3vrS7&ct=Quay" target="_blank")

  include partials/meet-the-team

  include partials/contact
