block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "article"

extends partials/layout
include partials/top

block content
  +top(['image-about'], true)

  .panel-top.white
    section.container
      .panel.full
        h1.main-title
          | CHRISTMAS DAY
          br
          | LUNCH 2014
        .subtitle.date Sept 19, 2014
      .line.first
      .panel.full
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
      
      img.article-image(src="../images/events/christmas.jpg", alt="Christmas Day Lunch 2014")
      .panel.full
        p
          | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
          br
          br
          | Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.

        ul.social
          li
            a(href="http://www.facebook.com/sharer.php?u=http://#{website}" target="_blank")
              span.icon-facebook
          li
            a.small(href="http://twitter.com/share?url=http://#{website}" target="_blank")
              span.icon-twitter
          li
            a.small(href="https://plus.google.com/share?url=http://#{website}" target="_blank")
              span.icon-google
          li
            a.small(href="mailto:?SubjectChristamas day- Quay&Body=%20" target="_blank")
              span.icon-mail

        h2.title OTHER NEWS
        .line

        .two-columns
          .column
            a(href="#")
              .underline Overseas Passenger Terminal construction
              .date Sept 19, 2014
            a(href="#")
              .underline Overseas Passenger Terminal construction
              .date Sept 19, 2014

          .column
            a(href="#")
              .underline Overseas Passenger Terminal construction
              .date Sept 19, 2014
            a(href="#")
              .underline Overseas Passenger Terminal construction
              .date Sept 19, 2014



  section.container
    form.subscribe-form
      .panel.full.dark
        h3.subtitle
          | SIGN UP TO RECEIVE NEWS FROM QUAY
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      
        .floatlabel-wrapper
          label(for='email') Email address
          input#email(type='text', placeholder='Eg. john@email.com', name='email')

        input.button(type="submit", value="Subscribe")

  include partials/contact