block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "awards footer-over-bg"

extends partials/layout
include partials/top

block content
  +top('{{ award.background }}')

  .panel-top.white
    .container
      .panel
        h1.main-title {{ award.headline }}

        p {{ award.intro_copy }}
      .line

  section
    .container
      .panel.white.full.award-container
        .two-columns
          .column
            {{ award.column_left | safe }}
          .column
            {{ award.column_right | safe }}

      include partials/latest-news

      section.container
        .panel.full.media
          a.button(href="reviews-media.html")
            | REVIEWS

    include partials/contact
      