block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "contact"

extends partials/layout
include partials/top

block content
  +top('{{ contactpage.background }}', true)

  section.panel-top.white
    .container
      .panel.full
        h1.main-title.letter-offset
          | CONTACT
        .contact
          .left
            p.address
              | {{ contact.address_line_1 }}
              br
              | {{ contact.address_line_2 }}
              br
              | {{ contact.address_line_3 }}

          .right
            a.tel(href="tel:+{{ contact.tel }}") {{ contact.tel }}
            br
            br
            strong Fax
            br
            a(href="tel:+{{ contact.fax }}") {{ contact.fax }}
            br
            br
            strong Email
            br
            a.email(href="mailto:{{ contact.email }}") {{ contact.email }}


          .line


  .map.hideMobilebg
    a.mobilemap.hide-desktop(href="https://www.google.com.au/maps/dir//Quay,+Upper+Level,+Overseas+Passenger+Terminal+5+Hickson+Road,+The+Rocks+NSW+2000/@-33.858018,151.210091,15z/data=!4m12!1m3!3m2!1s0x0:0x82c7353ae345421d!2sQuay!4m7!1m0!1m5!1m1!1s0x6b12ae42aba76ad3:0x82c7353ae345421d!2m2!1d151.210091!2d-33.858018" target="_blank")
      img(src="../static/images/bg/bg-map-750.jpg")
    a.marker(href="https://www.google.com.au/maps/dir//Quay,+Upper+Level,+Overseas+Passenger+Terminal+5+Hickson+Road,+The+Rocks+NSW+2000/@-33.858018,151.210091,15z/data=!4m12!1m3!3m2!1s0x0:0x82c7353ae345421d!2sQuay!4m7!1m0!1m5!1m1!1s0x6b12ae42aba76ad3:0x82c7353ae345421d!2m2!1d151.210091!2d-33.858018" target="_blank")
      .icon-logo
      .info
        | Get directions
    .container
      .panel.white.service
          h2.title.letter-offset OPENING HOURS
          strong Lunch service
          p {{ openingHours.lunch_service }}
          br
          strong Dinner service
          p {{ openingHours.dinner_service }}
      .panel.square.right.functions
        a.button(href="functions")
          | FUNCTIONS

      .panel.white.panel-reservation
        .text-wrapper
          h2.title RESERVATIONS
          {{contactpage.reservation_copy | safe}}

        a.button(href="/reservation")
          | BOOK ONLINE

      .panel.dark.right.pattern-gray
        .text-wrapper
          h2.title.letter-offset
            | GIFT
            .offset-negative VOUCHERS
          {{contactpage.gift_voucher_copy | safe}}

        a.button.tablet-push-down(href="http://store.quay.com.au/gift-voucher/" target="_blank")
          | BUY A VOUCHER

  .image-contact.tofixBg
    .container
      .panel.white.full.parking-panel
        .parking-hours
          h2.title.letter-offset
            | CAR PARKING
          p
            | Car parking operations of the Overseas Passenger Terminal car park are managed by Wilson Parking.
          br
          table
            tr
              th Day
              th Operating Hours
            tr
              td Mon-Wed
              td
                | 6.30am - 10pm
                span.hide-mobile (manned until 8pm)
            tr
              td Thu-Fri
              td
                | 6.30am - midnight
                span.hide-mobile (manned until 10pm)
            tr
              td Sat
              td
                | 8am - midnight
                span.hide-mobile (manned until 10pm)
            tr
              td Sun
              td
                | 8am - midnight
                span.hide-mobile (manned until 8pm)

          br
          br
          p
            strong There is no parking available on ship days at the terminal.

        .parking-rate
          h3.subtitle PARKING RATES
          table
            tr
              th Hours
              th Rate
            tr
              td 0 - 0.5 hr
              td $7.00
            tr
              td 0.5 - 1.0 hr
              td $22.00
            tr
              td 1.0 - 2.0 hrs
              td $45.00
            tr
              td 2.0 - 3.0 hrs
              td $55.00
            tr
              td 3.0 - 4.0 hrs
              td $65.00
            tr
              td 4+ hrs
              td $65.00
            tr
              td Nights (entry after 6pm)
              td $25.00
            tr
              td Saturday
              td $25.00
            tr
              td Sunday
              td $25.00
            tr
              td Earlybird (before 9:30am)
              td $30.00

    include partials/employment

    .container
      section.panel.white.full.panel-enquiries
        h2.title.letter-offset OTHER ENQUIRIES
        .line
        {% load listutil %}

        .two-columns
          {% for specialcontact in contactpage.contacts.all|partition:"2"|first %}
          .column.left
            h3.subtitle {{specialcontact.title}}
            br
            p {{specialcontact.name}} / {{specialcontact.function}}
            br
            p
              {% if specialcontact.phone != '' %}
              | Phone: {{specialcontact.phone}}
              {% endif %}
              {% if specialcontact.fax != '' %}
              br
              | Fax: {{specialcontact.fax}}
              br
              {% endif %}
              | Email:
              a(href="mailto:{{specialcontact.email}}") {{specialcontact.email}}
          {% endfor %}
        .two-columns
          {% for specialcontact in contactpage.contacts.all|partition:"2"|last %}
          .column.left
            h3.subtitle {{specialcontact.title}}
            br
            p {{specialcontact.name}} / {{specialcontact.function}}
            br
            p
              {% if specialcontact.phone != '' %}
              | Phone: {{specialcontact.phone}}
              {% endif %}
              {% if specialcontact.fax != '' %}
              br
              | Fax: {{specialcontact.fax}}
              br
              {% endif %}
              | Email:
              a(href="mailto:{{specialcontact.email}}") {{specialcontact.email}}
          {% endfor %}
