block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "employment"

extends partials/layout
include partials/top

block content
  +top(['{{ employment.background }}'], true)

  .panel-top.white
    .container
      section.panel
        h1.main-title {{ employment.headline | safe }}
        {{ employment.intro_copy | safe }}

      .line

  .image-employment.tofixBg
    .container
      section.panel.white
        h3.subtitle POSITIONS AVAILABLE
        .line
        {% for job in employment.jobs.all %}
        h2.title {{ job.job_title | safe }}
        p
          {{ job.job_description | safe }}

        {% endfor %}


    include partials/meet-the-team

    include partials/contact
