block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "philosophy footer-over-bg"

extends partials/layout
include partials/top

block content
  +top('{{ foodPhilosophy.background }}', true)

  .panel-top.white
    .container
      .panel
        h1.main-title {{ foodPhilosophy.headline | safe }}
        p {{ foodPhilosophy.intro_copy }}
      .video-container
        #video-philosophy
      .panel
        {{ foodPhilosophy.intro_copy2 | safe }}
      .line

  section.image-philosophy-02.tofixBg
    .container
      .panel.white
        .text-wrapper
          h2.title 
            | NATURE
          p {{ foodPhilosophy.nature }}
      .video-container.right
        .fake-video.video-philosophy-nature
      .line.between-line

      .panel.white.right
        .text-wrapper
          h2.title 
            | TEXTURE
          p {{ foodPhilosophy.texture }}
      .video-container
        .fake-video.video-philosophy-texture

  section.image-philosophy-03.urchin.tofixBg
    .container
      .panel.white
        .text-wrapper
          h2.title 
            | INTENSITY
          p {{ foodPhilosophy.intensity }}
      .video-container.right
        .fake-video.video-philosophy-intensity
      .line.between-line

      .panel.white.right
        .text-wrapper
          h2.title 
            | PURITY
          p {{ foodPhilosophy.purity }}
      .video-container
        .fake-video.video-philosophy-purity
    

    include partials/contact