block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "functions"

extends partials/layout
include partials/top

block content

  +top('{{ functions.background }}', true)

  .panel-top.white
    .container
      .panel
        h1.main-title {{ functions.headline }}
        p {{ functions.intro_copy | safe }}
      .line

  .collapse-panel
    .bg(class='{{ functions.uppertower_image }}')
      .container.collapsible
        .toggle-panel
          h2.title UPPER TOWER
          .collapse-indicators
            .on SHOW
            .off HIDE

        .toggle-content
          .panel.white.left
            {{ functions.uppertower_copy1 | safe }}
            .line
            {{ functions.uppertower_copy2 | safe }}

          .panel.square.right.small-carousel-container
            {% for imageClass in functions.uppertower_carou.all %}
            .content-carousel(class="{{imageClass}} {% if forloop.first %}active{% endif%}")
            {% endfor %}
            ul.carousel-controler.inside-panel
              {% for imageClass in functions.uppertower_carou.all %}
              li(class="{% if forloop.first %}active{% endif%}")
                span
              {% endfor %}

    .bg(class='{{ functions.greenroom_image }}')
      .container.collapsible
        .toggle-panel
          h2.title GREEN ROOM
          .collapse-indicators
            .on SHOW
            .off HIDE

        .toggle-content
          .panel.white.left
            {{ functions.greenroom_copy1 | safe }}
            .line
            {{ functions.greenroom_copy2 | safe }}

          .panel.square.right.small-carousel-container
            {% for imageClass in functions.greenroom_carou.all %}
            .content-carousel(class="{{imageClass}} {% if forloop.first %}active{% endif%}")
            {% endfor %}
            ul.carousel-controler.inside-panel
              {% for imageClass in functions.greenroom_carou.all %}
              li(class="{% if forloop.first %}active{% endif%}")
                span
              {% endfor %}

    .bg(class='{{ functions.restaurant_image }}')
      .container.collapsible
        .toggle-panel
          h2.title RESTAURANT
          .collapse-indicators
            .on SHOW
            .off HIDE

        .toggle-content
          .panel.white.left
            {{ functions.restaurant_copy1 | safe }}
            .line
            {{ functions.restaurant_copy2 | safe }}

          .panel.square.right.small-carousel-container
            {% for imageClass in functions.restaurant_carou.all %}
            .content-carousel(class="{{imageClass}} {% if forloop.first %}active{% endif%}")
            {% endfor %}
            ul.carousel-controler.inside-panel
              {% for imageClass in functions.restaurant_carou.all %}
              li(class="{% if forloop.first %}active{% endif%}")
                span
              {% endfor %}

  .image-functions-02.tofixBg(class="{{ functions.wedding_background }}")
    .container.wedding
      .panel.white
        h2.title {{ functions.wedding_title | safe }}
        p {{ functions.wedding_copy | safe }}
      #wedding-video.right(data-video='{{ functions.wedding_video }}')
  .image-functions-01.tofixBg
    .container.functions-inquiries
      .panel.white.full
        .img
          img(src="{{MEDIA_URL}}/{{ functions.contacts.all.first.image }}")
        .text-wrapper
          .left
            h2.title
              | FUNCTION
              br
              | ENQUIRIES
            p
              | For further information please contact our {{ functions.contacts.first.function }}, {{ functions.contacts.first.name }}.

          .right
            strong Phone
            br
            a(href="tel:+{{ functions.contacts.first.phone }}")
              | {{ functions.contacts.first.phone }}
            br
            br
            strong Fax
            br
            a(href="tel:+{{ functions.contacts.first.fax }}")
              | {{ functions.contacts.first.fax }}
            br
            br
            strong Email
            br
            a.email(href="mailto:{{ functions.contacts.first.email }}")
              | {{ functions.contacts.first.email }}

      {% if functions.contacts.all.1.phone != '' %}
      .panel.white.full
        .img
          img(src="{{MEDIA_URL}}/{{ functions.contacts.all.1.image }}")
        .text-wrapper
          .left
            h2.title
              | WEDDING
              br
              | ENQUIRIES
            p
              | For further information please contact our {{ functions.contacts.all.1.function }}, {{ functions.contacts.all.1.name }}.

          .right
            strong Phone
            br
            a(href="tel:+{{ functions.contacts.all.1.phone }}")
              | {{ functions.contacts.all.1.phone }}
            br
            br
            strong Fax
            br
            a(href="tel:+{{ functions.contacts.all.1.fax }}")
              | {{ functions.contacts.all.1.fax }}
            br
            br
            strong Email
            br
            a.email(href="mailto:{{ functions.contacts.all.1.email }}")
              | {{ functions.contacts.all.1.email }}
      {% endif %}

    include partials/contact
