block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "index"

extends partials/layout
include partials/top

block content
  
  +top(['dish-duck','dish-beetroot','dish-pigjowl', 'dish-beef', 'dish-muscovado'])

  .panel-top.white
    .container
      .peter
      section.panel
        h1.main-title
          | WELCOME
        p
          | Our aim is to give you a rich experience. To explore some of Australia’s most beautiful, natural produce.
          br
          br
          | To present an original cuisine where texture, purity of flavour and balance is paramount. To bring warmth and knowledge to our service in one of the world’s most extraordinary harbour settings.

        a.button(href="/reservation")  
          | RESERVATIONS
        .line

  .container
    .panel.square.left.opera-tables

    section.panel.dark.pattern-floury.right
      .text-wrapper
        h2.title OUR MENUS
        p.quote
          | I’m looking to nature for my inspiration. Letting the natural produce speak. There’s so much out there, so much elegance and beauty. 
        .author
          | PETER GILMORE
        .line

      a.button(href="menu.html")
        | MENU

    section.panel.dark.pattern-gray
      .text-wrapper
        h2.title 
          | THE QUAY
          br
          | EXPERIENCE
        p
          | At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion. Warm, knowledgeable, professional staff will extend genuine hospitality as they guide you through your dining experience.

      a.button.tablet-push-down(href="about.html")
        | ABOUT QUAY
    .line

    section.panel.white.right.enquiries
      .text-wrapper
        h2.title 
          | FUNCTIONS
        p
          | Every event hosted by Quay not only enjoys our world-class cuisine, but is surrounded by the iconic maritime panorama of the world’s most stunning harbour city.

      a.button(href="functions.html")
        | READ MORE

    .line

    section.panel.transparent.news
      .text-wrapper
        h2.title 
          | LATEST NEWS
        .news-title
          | Overseas Passenger Terminal construction
        time Sept 19, 2014
        br
        br
        p During the overseas passenger terminal upgrade Quay will have modified opening hours. We will be closed for lunch Monday to Thursday and open Friday to Sunday lunch from 12pm - 2pm.

      a.button(href="news-events.html")
        | READ MORE

    include partials/competition

    
  include partials/contact

  .decor.image-footer