block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "menu"

extends partials/layout
include partials/top

block content
  +top(['illustration-spring'])

  .panel-top.white
    .container
      section.panel.full
        h1.main-title
          | OUR MENUS
        p
          | At Quay, our passion is to deliver a truly unique dining experience, one which is completely removed from the everyday. Quay’s menu is a continually evolving repertoire; some classics, some reworking of old favourites plus new dishes for each season.

    ul#menus
      li
        a.button(href="/menu#lunch") LUNCH
      li
        a.button(href="/menu#dinner") DINNER
      li
        a.button(href="/menu#tasting") TASTING
      li
        a.button(href="pdf/quay-wine-list.pdf" data-kind="pdf" target="_blank")
          | WINE 
          span (PDF)

  .carte-container.container
    section.panel.dark.carte
      include partials/menu-lunch
      include partials/menu-dinner
      include partials/menu-tasting
    
    section.panel.white.additional-info
      h2.title
        | ADDITIONAL
        br
        | INFORMATION
      .line
      p
        strong Please note Quay offers vegetarian options and can cater for most dietary requirements.
        br
        br
        | Please feel free to contact us if you have any additional or specific dietary requirements and we will do our best to accommodate your request.
        br
        br
        | Please notify us at least 24 hours in advance of the booking.
        br
        br
        | In addition, we are also able to offer a vegetarian or gluten free tasting menu upon request if the booking is made at least 24 hours in advance.
        br
        br
        | Menu content and prices are subject to change.
        br
        br
        | Please be aware that the food images displayed on our website may not reflect the current dishes available on our menu.
    .line.last



  .container
    .panel.square.right.side-dish-beetroot

    section.panel.dark.food-philosophy-panel.left
      .text-wrapper
        h2.title
          | FOOD
          br
          | PHILOSOPHY
        p
          | Over the years my food philosophy has evolved into a personal style that celebrates being a cook in Australia. It embraces natures diversity and seeks to achieve a sense of balance and purity through produce, technique, texture, flavour and composition.

      a.button(href="food-philosophy.html")
        | LEARN MORE

    section.video-container
      #chef-video.right

      .line.left

    section.panel.white.right.small
      .text-wrapper
        h2.title 
          | OUR PRODUCE
        p
          | I am very inspired by nature’s diversity and have been a passionate gardener for years. We have set up close relationships with like minded passionate farmers.
          br
          br
          | Continuing on this journey with small independent growers will see even more beautiful and unique produce grace Quay’s menus.

      a.button(href="our-producers.html")
        | THE PRODUCERS
    .flowers-bg

  include partials/competition
  include partials/contact