block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "news"

extends partials/layout
include partials/top

block content
  +top(['image-about'], true)
  
  .popup-bg
    .panel.center.white
      h2#ptitle.subtitle
      br
      p#ppara

  .panel-top.white
    .container
      section.panel.full
        h1.main-title
          | NEWS + EVENTS
        h3.subtitle
          | SIGN UP TO RECEIVE NEWS FROM QUAY
        p
          | Complete the form below to receive information on the latest events, news and special offers at Quay.
      form#subscribe_form.subscribe-form(action="http://email.pollen.com.au/t/r/s/irlhjku/")
        .panel
          .floatlabel-wrapper
            label(for='cm-irlhjku-irlhjku') Email address
            input#fieldEmail(type='email', placeholder='Eg. john@email.com', name='cm-irlhjku-irlhjku')

          input#subscribe.button(type="submit", value="Subscribe")
          .throbber

  .container
    section.two-columns
      
      .column
        img(src="../images/events/news-christmas.jpg", alt="Christmas Day Lunch 2014")
        .panel.white
          .underline-title Christmas Day Lunch 2014
          .date Dec 25, 2014
          p 
            | 5 course Signature Menu with a glass of Charles Heidsieck NV on arrival.
            br
            br
            | The cost is $330.00 per person. Children’s menu available for $160.00.
            br
            br
            | Payment in full is required at time of booking.
            br
            br
            | For further information please call 02 9251 5600 or email 
            a.email(href="mailto:reservations@quay.com.au")
              | reservations@quay.com.au

      //- a.column(href="article.html")
      .column
        img(src="../images/events/news-nye2014.jpg", alt="NYE 2014")
        .panel.white
          .underline-title NYE 2014
          .date Dec 31, 2014
          p 
            | On arrival guests will receive a glass of Charles Heidsieck NV served with a selection of canapés.
            | Six-course signature menu, together with wines expertly matched to each course.
            br
            br
            | At the stroke of midnight guests will be treated to a glass of champagne to bring in the New Year.
            br
            br
            | The cost is $1250 per person. No children’s price available.
            br
            br
            | Payment in full is required at time of booking.
            br
            br
            | For further information please call 02 9251 5600 or email 
            a.email(href="mailto:reservations@quay.com.au")
              | reservations@quay.com.au

      //- a.column(href="article.html")
      .column
        img(src="../images/events/news-greenroom.jpg", alt="Greenroom NYE 2014")
        .panel.white
          .underline-title Greenroom NYE 2014
          .date Dec 31, 2014
          p 
            | Cocktails in style – Green Room
            br
            br
            | The evening will commence at 8pm and conclude at 1am.
            br
            br
            | On arrival guests will be served Quay cocktails and sparkling wine.  Sumptuous canapés and premium wines selected by our sommelier Amanda Yallop will flow into the night.


  include partials/contact