block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "producers"

extends partials/layout
include partials/top

block content
  +top('{{ ourProducers.background }}', true)

  .panel-top.white
    .container
      section.panel
        h1.main-title {{ ourProducers.headline | safe }}
        p {{ ourProducers.intro_copy }}
      .line

  {% for producer in ourProducers.producers.all %}
  section.tofixBg(class="{{producer.background}}").image-producers-02
    img.hide-desktop(src='../images/bg/bg-image-producers-02-750.jpg')
    .container
      .panel.white.right
        .text-wrapper
          h2.title {{producer.name | safe}}
          {{producer.description | safe}}
        .line
  {% endfor %}

  .image-producers-01.tofixBg.hideMobilebg
    include partials/contact