block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "team"

extends partials/layout
include partials/top

block content
  +top('{{ ourTeam.background }}')

  .panel-top.white
    .container
      section.panel
        h1.main-title {{ ourTeam.headline }}
        p {{ ourTeam.intro_copy }}
      .team
      .line

  .container.collapse-panel
    
    {% for member in ourTeam.teams.all %}
    img.big-image.left(src="{{MEDIA_URL}}/{{ member.image }}", alt="peter-gilmore")
    section.panel.right.white.collapsible
      h2.title {{ member.name }}
      .subtitle {{ member.role }}

      p {{ member.small_description }}
      br
      .toggle-content
        {{ member.description | safe}}

      .collapse-indicators
        .on.toggle-panel MORE
        .off.toggle-panel LESS
    {% endfor %}

  include partials/contact