block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "reservation"

extends partials/layout
include partials/top

block content
  
  +top(['dish-chocethereal','dish-quail','dish-xosea','dish-blackpudding'])

  .popup-bg
    .panel.center.white
      h2#ptitle.subtitle
      br
      p#ppara
  .panel-top.white
    .container
      section.panel.full
        h1.main-title
          | RESERVATION
          br
          | ENQUIRY
        p
          | Join us at Quay for a truly memorable dining experience in one of Sydney’s most spectacular settings. An experience that celebrates the diversity of our wonderful Australian produce cooked with imagination and passion. 
          br
          br
          | Quay is open daily for dinner service from 6pm – 10pm. Lunch service is Friday to Sunday, taking bookings from 12pm – 2pm. If you wish to make a booking within the 48 hour period, please contact reservations directly on 02 9251 5600.
          br
          br
          | We do receive a high volume of reservations requests daily. Please allow at least 48 hours in which to reply to your request. We do encourage you to contact reservations directly on 02 9251 5600 if you wish to make a booking within the 48 hour period. 
          br
          br
          | We take bookings no more than 6 months in advance. Friday, Saturday & Sunday evenings are booked out 6 months in advance for bookings of two and four guests. 
          br
          br
          | If you do have any dietary requirements please mention these when making your reservation online or via the telephone.
        
      form#reservation_form(autocomplete='on')
        .panel.full.first
          .floatlabel-wrapper.push
            label(for='name') Full name
            input#name(type='text', placeholder='Eg. John Smith', name='name', )

          .floatlabel-wrapper
            label(for='company') Company Name (optional)
            input#company_name(type='text', placeholder='Eg. Quay Restaurant', name='company')

          .floatlabel-wrapper.push
            label(for='phone') Phone No.
            input#phone(type='tel', placeholder='Eg. 02 9251 5600', name='phone')

          .floatlabel-wrapper.postcode-wrapper
            label(for='postcode') Postcode / zip
            input#postcode(type='text', placeholder='2000', name='postcode')

          .floatlabel-wrapper
            label(for='hotel_phone') Contact No. in Sydney or hotel
            input#contact(type='tel', placeholder='Eg. 02 9251 5600', name='hotel_phone')

        .panel.full.dark
          .floatlabel-wrapper.push
            label(for='id_date') Date of requested reservation
            input#id_date.datepicker(type='text', placeholder='DD / MM / YYYY', name='date')
            span.icon-calendar

          .radio
            label(for='period') Time of day
            .radio-wrapper
              input#lunch(type="radio" name="lunch_dinner" value="lunch")
              label(for="lunch")
                span.icon-tick
                | Lunch
              input#dinner(type="radio" name="lunch_dinner" value="dinner")
              label(for="dinner")
                span.icon-tick
                | Dinner

          .floatlabel-wrapper.time-select
            label(for='id_time') Time
            select.classic#id_time(type='text', data-placeholder='Select', name='time')
              option(value="12:00") 12:00 PM
              option(value="12:30") 12:30 PM
              option(value="13:00") 13:00 PM
              option(value="13:30") 13:30 PM
              option(value="14:00") 14:00 PM
              option(value="18:00") 18:00 PM
              option(value="18:30") 18:30 PM
              option(value="19:00") 19:00 PM
              option(value="19:30") 19:30 PM
              option(value="20:00") 20:00 PM
              option(value="20:30") 20:30 PM
              option(value="21:00") 21:00 PM
              option(value="21:30") 21:30 PM
              option(value="22:00") 22:00 PM
              

          .floatlabel-wrapper.people-select.push
            label(for='id_num_people') People (max 9)
            select.classic#id_num_people(type='text', data-placeholder='Select', name='peoples')
              option(value="one") One
              option(value="two") Two
              option(value="three") Three
              option(value="four") Four
              option(value="five") Five
              option(value="six") Six
              option(value="seven") Seven
              option(value="eight") Eight
              option(value="nine") Nine

          .floatlabel-wrapper
            label(for='email') Email address
            input#email(type='email', placeholder='Eg. john@email.com', name='email')

        .panel.full
          .floatlabel-wrapper.comment-wrapper
            label(for='id_special_requests') Special requests or comments (optional)
            input#id_special_requests(type='text', placeholder='Eg. I have an allergy to peanuts', name='special_requests')
          .clear
            input#newsletter(type="checkbox" name="newsletter")
            label(for="newsletter")
              span.icon-tick
              | Yes I wish to SUBSCRIBE TO the Quay Newsletter

        .panel.full
          input#reservation_form.button(type="submit", value="submit" name="button")
          .throbber
  .container
    section.panel.white.full.dresscode
      h2.title DRESS CODE
      p
        | The dress code at Quay is smart casual. The dress code is intended to create a pleasant experience for all guests in keeping with our standards of international dining.
        br
        br
        | Attire: Please refrain from wearing athletic clothing or footwear. Gentlemen should not wear shorts or sleeveless t-shirts. Footwear: Please refrain from wearing flip flops or ugg boots. Gentlemen should wear fully covered shoes.
        br
        br
        | Children are welcome at Quay, although due to the layout of the restaurant we do not have the floor space to accommodate push chairs or prams. Children dining at Quay are the responsibility of their guardian at all time. We require children to remain seated at their table whilst dining at Quay.
        br
        br
        | Prams, luggage and large bags can be kept at reception whilst dining. Quay does not take responsibility for any personal items that are lost or damaged whilst dining in the restaurant.

      .line

      .two-columns
        .left
          h3.subtitle CANCELLATION POLICY
          br
          br
          p All cancellations must be made via telephone and during the reservation office hours. To avoid incurring a charge lunch bookings must be cancelled prior to 12pm, 24 hours beforehand and dinner bookings by 5pm, 24 hours beforehand.
        .left
          h3.subtitle CREDIT CARDS
          br
          br
          p Quay accepts the following credit cards: Mastercard, Visa. American Express and Diners Club. Please note a 1.5% surcharge will be added for all credit and debit card payments.

      a.button(href="pdf/quay_cancellation_policy.pdf" target="_blank")
        | READ MORE

  include partials/competition
  include partials/contact