block vars
  - var title = "Quay restaurant"
  - var description = "At Quay our aim is to provide a truly memorable dining experience. An experience that celebrates the diversity of our wonderful Australian ingredients cooked with imagination and passion."
  - var page = "reviews footer-over-bg"

extends partials/layout
include partials/top

block content
  +top('{{ reviewsMedia.background }}', true)

  .panel-top.white
    .container
      section.panel.full
        h1.main-title {{ reviewsMedia.headline }}
        p {{ reviewsMedia.intro_copy }}


  .reviews.image-about.tofixBg
    .container
      {% for media in medias %}
      section.panel.large.white(class="{% cycle 'left' 'right' %}")
        .quote.hi {{ media.quote | safe }}
        .editor {{ media.editor }}
        {% if media.url != '' %}
        a(href="{{ media.url }}" target="_blank")
          span.icon-pdf.left
          .left.underline Read the full article
        {% else %}
        a(href="{{ media.pdf }}" target="_blank")
          span.icon-pdf.left
          .left.underline Read the full article
        {% endif %}
      {% endfor %}

      include partials/latest-news

      section.panel.white.full.media
        .left
          h2.title MEDIA
          p For any media enquiries regarding Quay please contact our PR agency.

        .right
          strong Black Communications
          br
          | Suite 2, 535 Crown St,
          br
          | Surry Hills NSW 2010, Australia
          br
          br
          strong Tel
          br
          a(href="tel:+61-2-8399-3005")
            | (61 2) 8399 3005
          br
          br
          strong Email
          br
          a.email(href="mailto:black@blackcommunications.com.au")
            | black@blackcommunications.com.au


    include partials/contact
